h1,
h2,
h3,
h4,
h5,
h6,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small, .lead {
 font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
	padding-top: 45px;
	font-family: arial, "微软雅黑", "黑体", "文泉驿黑体", "宋体", sans-serif;
}

.playlist{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

tr.selsong:hover{
	cursor: pointer;
}

.current_song{background: #efefef;} 

tr:focus {
  outline: 0px;
}


/* color chips list */

ul.color-chips {
  list-style: none;
  margin-top: 20px;
  width: 350px;
}

ul.color-chips li {
  float: left;
  margin: 0 0 5px 0;
}

ul.color-chips li:last-child {
  margin-right: 0;
}

ul.color-chips li a {
  float: left;
  width: 22px;
  height: 12px;
  text-indent: -9999px;
  background-image: url(../images/glass-light.png);
  background-repeat: repeat-x;
  background-position: 0 50%;
}

div.subset-colors ul.color-chips li a {
  width: 20px;
}


ul.color-chips li a:hover,
ul.color-chips li.current a {
  background-image: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h3 ul.color-chips {
  display: inline;
  float: none;
}

h3 ul.color-chips li {
  display: inline;
  float: none;
}

h3 ul.color-chips li a {
  display: inline-block;
  float: none;
}
/* color browsing */
div.colors-explore {
  margin: -12px 0 20px 0;
}

div.colors-explore ul.color-chips li a {
  height: 16px;
  width: 22px;
  z-index: 1;
}

div.colors-explore ul.color-chips li a:hover {
  position: relative;
  margin: -4px;
  width: 30px;
  height: 22px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div.colors-explore ul.color-chips li.current a,
div.colors-explore ul.color-chips li.current a:hover {
  position: relative;
  height: 18px;
  width: 25px;
  margin: -4px;
  border: 4px solid white;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

  z-index: 2;
}
.colorval_block{
  width: 45px;
  height: 23px;
  display: inline-block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 white;
  vertical-align: top;
}
.colorval{
  clear: both;
  display: block;
  margin-left: 40px;
  color: #444;
  font-size: 14px;
}
.colorval input{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background: rgba(0, 0, 0, 0.07);
  color: #777;
  width: 146px;
  height: 17px;
  padding: 3px 6px;
  font-size: 13px;
  vertical-align: top;
}

/*Cyril 2013-02-28*/
/*header_nav*/
body{
  padding-top: 54px;
  background: #F0F0F0 url(/images/noise.gif) repeat -70% 0;
}
#main {

}
.clear{
  clear: both;
}
#header_nav a.brand{
  padding-bottom: 0px;
  padding-top: 5px;
}
#header_nav .navbar-inner{
  background: #2b2b2b;
}
#header_nav .navbar-inner{
  padding: 8px 0 6px 0;
}
#header_nav .navbar-inner .nav li.main_nav a{
  color: #fff;
  font-size: 14px;
}
#header_nav .navbar-inner .nav li.main_nav{
  margin: 0 20px;
}
.user_nav .caret{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  margin-top: 8px;
}
.user_nav.opened span.caret{
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
-webkit-transition: all .25s ease 0s;
-moz-transition: all .25s ease 0s;
-o-transition: all .25s ease 0s;
transition: all .25s ease 0s;
}
.user_nav .user_sub_nav{
  display: none;
  position: absolute;
  background: #333;
  padding: 5px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.user_nav.opened .user_sub_nav{
  display: block;
}
.user_nav .user_sub_nav>ul{
  margin-left: 0px;
  list-style: none;
}
#header_nav .user_nav .user_sub_nav>ul>li>a{
  color: #ddd;
  padding: 4px 15px;
  display: block;
  font-size: 12px;
}
.user_nav .user_sub_nav>ul>li>a:hover{
  background: #686868;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
/*masthead*/
.masthead{
  background: url(../images/masthead.png);
  color: #efefef;
  height: 185px;
  padding-top: 40px;
  text-align: center;
}
.signup-l-btn{
  margin-top: 25px;
  padding: 15px 24px;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4D8AFD;
  background-image: -moz-linear-gradient(top, #4D90FD, #4D81FD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D90FD), to(#4D81FD));
  background-image: -webkit-linear-gradient(top, #4D90FD, #4D81FD);
  background-image: -o-linear-gradient(top, #4D90FD, #4D81FD);
  background-image: linear-gradient(to bottom, #4D90FD, #4D81FD);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fd', endColorstr='#ff4d81fd', GradientType=0);
  border-color: #4D81FD #4D81FD #034DFB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.signup-l-btn:hover{
  color: white;
  background-color: #4D81FD;
}


/*waterfull*/
#waterfull{
  margin: 10px auto;
}
.cell{
  border: 1px solid #dedede;
  background: #fff;
  padding: 14px;
  width: 240px;
  margin-bottom: 15px;
  position: relative;
}
.cell a img{
  background: url(/images/img_bg.png) repeat;
}
/*cell inner*/
.site_link a{
  margin-top: 10px;
  background: #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  display: block;
  color: #fff;
  font-size: 14px;
  padding-left: 15px;
  text-decoration: none;
}
.site_link a:hover{
  background: #0099ff;
}
.img_cover{
  background: rgba(255, 255, 255, 0.60);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  display: none;
}
i.viewd,span.viewd_num{
  color: #aaa;
  font-size: 14px;
}
span.viewd_num{
  margin-right: 5px;
}
a.add_like{
  color: #aaa;
  text-decoration: none;
}
a.add_like:hover{
  color: #777;
}
a.add_like.liked{
  color: #ff008f;
}
a.add_like.liked{
  color: #e00090;
}
/*without waterfull*/
#waterfull{
  margin-left: -15px;
  margin-right: -15px;
}
.cell{
  width: 260px;
  height: 298px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  padding: 4px;
  line-height: 1;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.cell:hover{
  border-color: #08C;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
a.img_link{
  width: 260px;
  height: 260px;
  overflow: hidden;
  display: block;
}
.site_link a:hover{
  background: none;
  color: #777;
}
.site_link a {
margin-top: 10px;
background: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border: 0px;
display: block;
color: #999;
float: left;
font-size: 14px;
font-weight: bold;
padding: 5px;
text-decoration: none;
}
.site_link{
  display: inline;
}
.viewd_count{
  height: 20px;
  margin-left: 160px;
  padding-top: 15px;
}
.add_like{
  width: 100px;
}
/*toolbar-head*/
.toolbar-head{
  margin-top: 25px;
}
.toolbar-head ul.color-chips {
  width: auto;
  padding-right: 5px;
}
.toolbar_links{
  padding-top: 10px;
  padding-left: 5px;
}
.toolbar_links a{
  font-size: 14px;
  color: #999;
  text-decoration: none;
  padding: 0 10px;
}
.toolbar_links a:hover,.toolbar_links a.active:hover{
  color: #666;
}
.toolbar_links a.active{
  color: #444;
  font-weight: bold;
}
hr.toolbar{
  margin: 10px 0px;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
}
/*secondary style*/
.secondary{
  text-align: center;
}
hr.secondary_hr{
  margin: 45px 0px 20px 0px;
  border-top: 1px solid #ccc;
}
hr.secondary_hr_b{
  margin: 40px 0px 0px 0px;
  border: 0px;
}
.secondary .signup-l-btn{
}
p.sunshine{
  font-size: 14px;
  color: #999;
}
/*footer style*/
#footer{
  padding-top: 20px;
  background: #2b2b2b;
  border-top: 1px solid #ccc;
}
#footer p.logo{
  font-size: 12px;
  color: #ccc;
  padding-top: 7px;
  margin-bottom: 0px;
}
img.logo_footer{
  width: 117px;
  float: left;
  margin: 0 10px 0 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
img.logo_footer:hover{
  opacity: .6;
}
ul#footer-nav{
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
}
ul#footer-nav li{
  float: left;
  padding: 0px 10px 0px 0px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
  line-height: 1;
}
ul#footer-nav li a{
  color: #ddd;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
ul#footer-nav li a:hover{
  color: #4083A9;
}
#footer p.copyright{
  font-size: 12px;
  color: #ccc;
  clear: both;
  padding-bottom: 10px;
}
/*valid style*/
.happyMessage,.unhappyMessage{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: middle;
  padding: 3px;
  background: #ff5555;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.happyMessage{
  background: #00bbbb;
}
/*about page*/
#about h1,#about h2{
  font-size: 22px;
  font-weight: normal;
  color: #444;
  line-height: 1.4;
  font-family: Arial;
}
.about-ball{
  float: right;
  margin: -5px 30px 20px 0px;
  width: 238px;
  height: 240px;
}
#about h2{
  font-size: 14px;
  margin-top: 20px;
  color: #777;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
}
#about h2 strong{
  color: #333;
}
#about .about_description{
  float: right;
  width: 850px;
  margin-top: 20px;
  color: #444;
}
#about .about_description p.callout{
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.about_sidebar{
  float: left;
  margin-top: 10px;
  width: 250px;
}
div.announce-btn a {
  display: block;
  width: 220px;
  padding: 8px 6px;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  color: #999;
  border: 1px solid #DDD;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}
div.announce-btn a strong.title {
display: block;
margin: 0 0 2px 0;
color: #4CB1EA;
}
div.announce-btn a:hover {
color: white;
color: rgba(255, 255, 255, 0.7);
border-color: #148AE6;
background: #008fff url(/images/glass-light.png) repeat-x 0 50%;
}
div.announce-btn a:hover strong.title{
  color: #fff;
}
.followus{
  margin-bottom: 20px;
}
.followus ul{
  margin: 0px;
  list-style: none;
}
.followus ul a{
  display: block;
  padding: 6px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  color: #777;
  border-bottom: 1px solid #DDD;
  text-decoration: none;
}
.followus li:last-child a {
  border-bottom: none;
}
.followus ul a:hover{
  color: #444;
}
.followus ul a:hover img{
  opacity: .45;
}
.followus ul a img{
  float: left;
  margin: 0 6px 0 0;
  opacity: .3;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.newsletter p.info{
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}
#about .slats{
  margin-top: 10px;
}
#about .slats .group{
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);

}
#about .slats .meta{
  float: left;
  width: 120px;
}
#about ul{
  margin: 0px;
  list-style: none;
}
#about .slats img.avatar{
  width: 120px;
  margin: 4px 0 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#about .slats .meta span.links a{
  opacity: .3;
  margin: 0 3px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#about .slats .meta span.links a:hover{
  opacity: .45;
}
#about .slats .meta span.links{
  margin-left: 5px;
}
#about .slats .group h3,#about .slats .group h4,#about .slats .group p{
  margin-left: 140px;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 1.4;
}
#about .slats .group h3 a{
  color: #444;
  text-decoration: none;
  font-size: 18px;
}
#about .slats .group h4{
  color: #A81313;
  font-size: 14px;
}
#about .slats .group p{
  margin-bottom: 10px;
}
.about_sidebar .navbar ul{
  margin: 0px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 0px;
}
.about_sidebar .navbar ul li:first-child{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.about_sidebar .navbar ul li{
  border-bottom: 1px solid #ccc;
}
.about_sidebar .navbar ul li:hover{
  background: #ddd;
}
.about_sidebar .navbar ul li.active{
  background: #fff;
  border-bottom: 2px solid #0099ff;
}
.about_sidebar .navbar ul li a{
  display: block;
  width: 200px;
  height: 27px;
  font-weight: bold;
  color: #999;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
}
.about_sidebar .navbar ul li a:hover{
  color: #444;
}
.about_sidebar .navbar ul li a img{
  opacity: 0.45;
  margin-right: 5px;
}
.about_sidebar .navbar ul li a:hover img{
  opacity: 0.7;
}