.unhappyMessage {
background: #F00;
margin-left: 10px;
color: #FFF;
line-height: 20px;
display: initial;
display: inline-block;
padding: 0px 3px;
padding-right: 10px;
border-radius: 3px;
background: #B18674;
}
ul.slidesjs-pagination{
	position: absolute;
	top: 25px;
	margin: 0px;
	list-style: none;
}
ul.slidesjs-pagination li{
	float: left;
	margin-right: 5px;
	background: #ccc;
}
ul.slidesjs-pagination li a{
	padding: 5px 7px;
	background: #fff;
	color: #00447C;
	text-decoration: none;
}
ul.slidesjs-pagination li a.active,ul.slidesjs-pagination li a:hover{
background: #CCDAE5
}
#destination_slides .slidesjs-container{
	margin-top: 30px;
}
p.slide_img_title{
	text-align: center;
}
#popout_modal{
	position: fixed;
	top: 24%;
}
#popout_modal strong.title{
	text-align: center;
	padding-top: 14px;
	display: block;
	font-size: 12px;
}
#popout_modal .slidesjs-container{
	margin-top: 35px;
}
#popout_modal{
	display: none;
	background: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 0 auto;
	padding: 20px;
	padding-top: 10px;
	left: 50%;
	margin-left: -300px;
	z-index: 10001;
}
#popout_modal ul.slidesjs-pagination{
	top: 50px;
}
#popout_modal>div{
	width: 512px;
	height: 344px;
}
#popout_modal_mask {
z-index: 10000;
position: fixed;
top: 0;
left: 0;
opacity: .50;
filter: alpha(opacity = 50);
background: #333;
height: 100% !important;
min-height: 100%;
min-width: 100%;
}
#popout_modal>div.close_modal{
	position: absolute;
	width: 12px;
	height: 12px;
	padding: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	right: 5px;
	background: #ddd;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
#popout_modal>div.close_modal:hover{
	background: #ccc;
	border: 1px solid #aaa;
	padding: 4px;
}
#popout_modal p.slide_img_title{
	font-size: 14px;
}
/*news*/
#media h3, #media_footer{
	margin:0;
}
#media, #media_footer{
	margin-top:25px;
}
.press_contact, .photo_contact, .news_special{
	padding:15px;
}
#media .photo_contact, #ak_magazine span{
	float:right;
}

#press_releases dt, #ak_magazine dt{
	margin-top:14px;
	padding-top:14px;
}

#ak_magazine img, #ak_magazine div img{
	float:left;
	
}
#news dt{
	font-size:14px;
	padding-top:14px;
}

#media_footer{
	padding:10px 15px;
}

#media .press_contact{
	margin-right:400px;
	
}
#media .photo_contact{
	width:364px;
	
}
.news_special{
	color:#444;
	background:#e5ecf2;
	margin:20px 0;
	
}
#press_releases p{
	margin-top:0;

}

#ak_magazine div{
	margin-left:275px;
}
/*news end*/

/* SPECIAL-OFFERS  ---------------------------------------*/
#special_offers .special_offer{
	padding:1em 0;
	background:url(/assets/images/graphics/h_dotted_line.gif) repeat-x;
}
#special_offers .special_offer.nth-child-first{
	padding-top:0;
	background:none;
}
#special_offers h3{
	margin-top:0;
	color:#555;
}
#special_offers .nth-child-first h3{
	margin-top:0;
}
#special_offers .special_offer div{
	margin-left:11.5em;
	padding-right:5px;

}
#special_offers img{
	float:left;
} 
#special-savings dt{
	margin-top:2em;

}
#special-savings ul.line-rule li{
	overflow:hidden;
	padding:3px 0;
 
}
* * body #special-savings ul.line-rule li{
	height:1%

}
#special-savings li span{
	float:right;
	text-align:right;
	
}
/* Special Offers END -----------------------------------*/


















