		<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
			<li>
				<img src="" width="90" height="1"></li>
			<li>
				<a href="/">Home</a>
				&nbsp;&nbsp;/&nbsp;&nbsp;
			</li>
			<li>
				<a href="/travel-destinations/">Travel Destinations</a>
				&nbsp;&nbsp;/&nbsp;&nbsp;
			</li>
			<li>Africa</li>
		</ul>
		<div class="self_clear">
			<div id="secondary_content" class="hide_from_print">
				<div id="cs_control_3131" class="">
					<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
						<a name="custom13651" id="custom13651"></a>
						<a name="CP_JUMP_13651" id="CP_JUMP_13651"></a>
						<div id="cs_control_13651" class="cs_control CS_Element_Custom">
							<div class="hl3">Navigate By</div>
							<!-- travel destinations -->
							<ul class="section cspot_nav" style="padding:0px">
								<li class="icon bullet_arrow">
									<a href="/travel-destinations/">Travel Destinations</a>
								</li>
								<li class="navigation_active icon expando_show">
									<a href="/travel-destinations/africa-safari/">Africa</a>
									<ul>
										<li class="icon expando_show">
											<a href="/travel-destinations/africa-safari/east-africa/">East Africa</a>
											<ul>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/east-africa/ak_east_africa.cfm">Visit East Africa</a>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/east-africa/safari-faq.cfm">A Day on Safari</a>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/east-africa/mobile-tented-safaris.cfm">Mobile Camping Safari</a>
												</li>
												<li class="icon expando_show">
													<a href="/travel-destinations/africa-safari/east-africa/kenya/">Kenya</a>
													<ul>
														<li class="icon bullet_arrow">
															<a href="/travel-destinations/africa-safari/east-africa/kenya/great-migration.cfm">The Great Migration</a>
														</li>
													</ul>
												</li>
												<li class="icon expando_show">
													<a href="/travel-destinations/africa-safari/east-africa/tanzania/">Tanzania</a>
													<ul>
														<li class="icon bullet_arrow">
															<a href="/travel-destinations/africa-safari/east-africa/tanzania/kilimanjaro-climb.cfm">Climbing Mt. Kilimanjaro</a>
														</li>
													</ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/east-africa/uganda/">Uganda</a>
													<ul></ul>
												</li>
											</ul>
										</li>
										<li class="icon expando_show">
											<a href="/travel-destinations/africa-safari/southern-africa/">Southern Africa</a>
											<ul>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/southern-africa/botswana/">Botswana</a>
													<ul></ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/southern-africa/namibia/">Namibia</a>
													<ul></ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/southern-africa/south-africa/">South Africa</a>
													<ul></ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/southern-africa/zambia/">Zambia</a>
													<ul></ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/southern-africa/zimbabwe/">Zimbabwe</a>
													<ul></ul>
												</li>
											</ul>
										</li>
										<li class="icon expando_show">
											<a href="/travel-destinations/africa-safari/west-africa/">West Africa</a>
											<ul>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/west-africa/mali/">Mali</a>
													<ul></ul>
												</li>
												<li class="icon bullet_arrow">
													<a href="/travel-destinations/africa-safari/west-africa/senegal/">Senegal</a>
													<ul></ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/antarctica-cruise/">Antarctica</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/arctic-cruise/">Arctic Cruises</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/asia-luxury-travel/">Asia</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/australia-new-zealand-luxury-travel/">Australia &amp; New Zealand</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/europe-luxury-holidays/">Europe</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/india-luxury-travel/">India</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/latin-america-luxury-travel/">Latin America</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/middle-east-luxury-travel/">Egypt &amp; the Middle East</a>
								</li>
								<li class="icon expando_hide">
									<a href="/travel-destinations/north-america-luxury-travel/">North America</a>
								</li>
							</ul>
						</div>
						<div id="cs_control_16631" class="cs_control CS_Element_CustomCF">
							<div id="CS_CCF_12275_16631">
								<div class="hl3">Request Brochures</div>
								<div class="section">
									<div class="related_brochure self_clear" style="border:none;">
										<p>
											<img src="/images/travel-brochure-2013-fan.jpg" width="80" height="78" alt="asia, india &amp; the pacific 2012 brochure" title="Asia, India &amp; the Pacific 2012 brochure"> <strong>Request a brochure for more information.</strong>
										</p>
										<ul>
											<li>
												<a class="icon swirl_arrow" href="/travel_brochures/">All Brochures</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<a name="customcf12107" id="customcf12107"></a>
						<a name="CP_JUMP_12107" id="CP_JUMP_12107"></a>
						<div id="cs_control_12107" class="cs_control CS_Element_CustomCF">
							<div id="CS_CCF_12275_12107">
								<div class="end_cap"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="dMainFBContest"></div>
			</div>
			<div id="primary_content" class="align_edges">
				<div class="self_clear">
					<h1>Africa Safari</h1>
					<div id="right_column_content" class="hide_from_print">
						<embed width="250" height="352" src="/images/africa.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" play="true" loop="true" scale="showall" wmode="transparent" devicefont="false" bgcolor="#ffffff" name="travel_destinations" menu="true" allowfullscreen="false" allowscriptaccess="sameDomain" salign="" type="application/x-shockwave-flash">
						<div id="cs_control_9506" class="">
							<div class="CS_Element_Schedule" title="" id="CS_Element_contentsupplemental"></div>
						</div>
					</div>
					<div id="inline_gallery" class="hide_from_print round_corners color_f4f4f4">
						<div class="ctl"></div>
						<div class="ctr"></div>
						<div class="cbr"></div>
						<div class="cbl"></div>
						<div class="inline_gallery self_clear">
							<div id="ak_image_rotator" style="height:276px;" class="ak-image-rotator"></div>
							<p>
								<a class="icon open_window" href="javascript:void(0);" onclick="getSlideShowImages2('get_photo_gallery','id=202');">View full size gallery</a>
							</p>
						</div>
					</div>
					<div id="cs_control_1329" class="">
						<div class="CS_Element_Schedule" title="" id="CS_Element_content">
							<a name="custom12294" id="custom12294"></a>
							<a name="CP_JUMP_12294" id="CP_JUMP_12294"></a>
							<div id="cs_control_12294" class="cs_control CS_Element_Custom">
								<h4 class="rounded_btn">
									<a class="icon search" title="See all African Safaris" href="/search.cfm?new_search=1&amp;tdgf=4">See all African Safaris</a>
								</h4>
							</div>
							<a name="textblocknohdr12296" id="textblocknohdr12296"></a>
							<a name="CP_JUMP_12296" id="CP_JUMP_12296"></a>
							<div id="cs_control_12296" class="cs_control CS_Element_Textblock">
								<div class="CS_Textblock_Text">
									<h2 class="secondary_title">Africa in Style</h2>
									<p itemprop="description">
										Join an A&amp;K
										<a href="/discover/african-safari/">African safari</a>
										and experience a world where nature reigns supreme. A&amp;K pioneered the modern African safari in 1962, creating a signature blend of luxury, authenticity and adventure. Today our 11 local African offices employ the continent's finest tour guides and bring you into the heart of the wildlife action with A&amp;K's unique mobile tented camps, an elegant and eco-friendly successor of the classic African safaris of Roosevelt and Hemingway.
									</p>
									<p>
										On an East African safari, witness the Great Migration, as hundreds of thousands of grazing animals and predators cross the plains of
										<a href="/travel-destinations/africa-safari/east-africa/kenya/">Kenya</a>
										and
										<a href="/travel-destinations/africa-safari/east-africa/tanzania/">Tanzania</a>
										. Venture to
										<a href="/travel-destinations/africa-safari/southern-africa/">Southern Africa</a>
										for water safaris by dugout canoe through Botswana's Okavango Delta, and for a visit to mighty Victoria Falls in Zimbabwe. Mali in West Africa provides an opportunity for a different sort of experience, a cultural odyssey to a land where life seems truly unchanged from what it was in centuries past.
									</p>
									<p>
										A&amp;K was born in Kenya, and as a pioneer in luxury safari tours, we can show you an Africa that's perfect for you. Wherever you go, count on an experience in which every day is an inspiring adventure.
									</p>
								</div>
							</div>
							<div id="cs_control_17727" class="cs_control CS_Element_CustomCF">
								<div id="CS_CCF_12275_17727">
									<!-- META DATA BEGIN -->
									<!-- META DATA END -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>