<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Discover</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="custom12103" id="custom12103"></a>
				<a name="CP_JUMP_12103" id="CP_JUMP_12103"></a>
				<div id="cs_control_12103" class="cs_control CS_Element_Custom">
					<div class="hl3">Navigate By</div>
					<!-- OHSU Nav -->
					<ul class="section cspot_nav">
						<li class="navigation_active icon bullet_arrow">
							<a href="/discover/">Discover A&amp;K</a>
						</li>
						<li class="icon expando_hide">
							<a href="/discover/luxury-small-group-travel/">Luxury Small Group Journeys</a>
							<ul></ul>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/connections-group-travel/">Connections Group Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/private-travel/">Private Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/../../marcopoloclub/invitation_only_travel.cfm">MPC Invitationals</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/adventure-cruising/">Adventure Cruises</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/african-safari/">African Safari</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/canal-river-cruising/">Canal &amp; River Cruising</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="http://www.akextremeadventures.com">Extreme Adventures</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/family-holidays/">Family Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/romance.cfm">Romantic Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/solo-travel/">Solo Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/luxury-train-travel/">Luxury Train Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/luxury-sailing/">Luxury Sailing</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/fly/">Fly with A&amp;K</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/trip-extensions/">Trip Extensions</a>
						</li>
					</ul>
				</div>
				<div id="cs_control_17146" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16512_17146">
						<div class="hl3">Request Brochures</div>
						<div class="section">
							<div class="related_brochure self_clear" style="border:none;">
								<p>
									<img src="http://www.abercrombiekent.com/assets_global/media/images/brochure_covers/travel-brochure-2013-fan.jpg" width="80" height="78" alt="asia, india &amp; the pacific 2012 brochure" title="Asia, India &amp; the Pacific 2012 brochure"> <strong>Request a brochure for more information.</strong>
								</p>
								<ul>
									<li>
										<a class="icon swirl_arrow" href="/travel_brochures/">All Brochures</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<a name="customcf4702" id="customcf4702"></a>
				<a name="CP_JUMP_4702" id="CP_JUMP_4702"></a>
				<div id="cs_control_4702" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16512_4702">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<div id="cs_control_16514" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<h1>How Will You Travel with A&amp;K?</h1>
					</div>
				</div>
				<div id="cs_control_16513" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16512_16513">
						<p>
							Abercrombie &amp; Kent can show you the world just the way you long to experience it. Our hallmark blend of comfort, authenticity and adventure illuminates every aspect of your journey – whether you choose to venture on an African safari worthy of Hemingway, trek remote terrain to reach the South Pole on foot or contemplate civilizations past in the shadows of the great pyramids alongside your family.
						</p>
						<p>
							No matter what type of journey you embark upon, you enjoy exclusive insider access and our unmatched expertise from beginning to end. Throughout your journey, you also experience our signature "&amp; moments" – the occasions of surprise and delight that make travel with A&amp;K so inspiring. Our staff in 50 offices worldwide provides around-the-clock support, while our long-established connections allow us to uncover local secrets beyond the reach of the ordinary traveller.
						</p>
						<p>
							Find your ideal A&amp;K journey from the travel interests below:
						</p>
						<ul class="clear_list_style self-clear-child">
							<li>
								<h3>Luxury Small Group Journeys</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/orient_india_and_the_pacific/images_of_indochina.jpg">
									Small group journeys are led by an expert A&amp;K Tour Director in intimate groups of just 18 to 24 guests. What's more, you can book and travel with confidence knowing that every departure is guaranteed to operate. These journeys also feature the finest in luxury amenities, including the best hotels at your destination, complimentary Internet at each accommodation and the Travelling Bell Boy <sup>®</sup>
									luggage handling service.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/luxury-small-group-travel/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Connections Group Journeys</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/spain/Connections-Spain.jpg">
									Introduced in 2013, Connections by Abercrombie &amp; Kent offers one-on-one connections with the world's most intriguing places and cultures, without the extra amenities of a typical luxury journey. For explorers at heart who refuse to skimp on inspiration and enrichment, Connections journeys are a chance to discover the world in the company of unmatched local experts, at an unbeatable value.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/connections-group-travel/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Private Luxury Journeys</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/egypt_morocco_and_beyond/splendors_of_the_nile.jpg">
									A&amp;K can arrange for an independent journey to the destination of your choosing, allowing you to travel in private and on your own schedule. Choose from Signature Series journeys – researched and ready to book – or a completely customizable tailor made itinerary. All A&amp;K private journeys feature stellar lodging, the finest local experts, unmatched insider-access opportunities and the 24/7 support of our regional on-the-ground offices.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/private-travel/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>MPC Invitational Journeys</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets/images/featured/christmas-markets-mpc-180.jpg">
									Marco Polo Club Invitational Journeys are specially designed to bring the most adventurous travellers to the most exotic destinations. Often the first A&amp;K journeys offered to emerging destinations, guests on MPC Invitationals travel in small groups – backed by A&amp;K's global reach and standards of service – to earth's most far-flung corners.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/marcopoloclub/invitation_only_travel.cfm">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Private Jet</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets/images/featured/about-luxe-skies.jpg">
									A&amp;K offers intimate, authentic travel by privately chartered jet, featuring unique destinations inaccessible to commercial flights, insider access opportunities throughout your itinerary and the service and support of A&amp;K experts and staff around the world.
								</p>
								<p>
									<a class="icon swirl_arrow" href="http://www.abercrombiekent.com/discover/private-jet/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Adventure Cruises</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/antarctica/antarctica_3.jpg">
									An A&amp;K adventure cruise is the only way to traverse the open seas to some of the world's most remote places without sacrificing creature comforts. Explore the Galápagos on board 'Eclipse,' sail the waters of Europe on 'Sea Cloud' or embark to earth's final frontier, Antarctica, on luxurious 'Le Boreal.'
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/adventure-cruising/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Canal &amp; River Cruising</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/canal_and_river_cruising_in_europe/anjodi_canal_du_midi_and_provence_and_the_camargue.jpg">
									Cruise far from the usual tourist circuits in a European canal or river cruise. A&amp;K offers access to hotel vessels on escorted itineraries throughout France, Holland and Belgium, Germany, Britain and Ireland that include the most popular excursions and sightseeing in each region.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/canal-river-cruising/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Extreme Adventures</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets_global/media/images/thumbnails/extreme_adventures/mount_kilimanjaro_lemosho_and_the_western_breach.jpg">
									These expeditions are designed to challenge the mind, body and soul in nature's most rugged destinations. Experience the adventure of a lifetime as you travel to the ends of the earth with the support of expert guides and in intimate groups (between two to six travellers).
								</p>
								<p>
									<a class="icon swirl_arrow" href="http://www.akextremeadventures.com/">Learn more</a>
								</p>
							</li>
							<li>
								<h3>Solo Travel</h3>
								<p>
									<img class="float_left" width="115" src="http://www.abercrombiekent.com/assets/images/featured/solo-180.jpg">
									A&amp;K features significant savings and unparalleled choice for solo travellers looking to explore some of the world's most sought-after destinations. A&amp;K welcomes solo travellers on journeys to more than 100 inspiring places, featuring the comfort of single accommodations, an amiable, knowledgeable Tour Director, and around-the-clock support and service.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/discover/solo-travel/">Learn more</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>