<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>News</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="custom12103" id="custom12103"></a>
				<a name="CP_JUMP_12103" id="CP_JUMP_12103"></a>
				<div id="cs_control_12103" class="cs_control CS_Element_Custom">
					<div class="hl3">Navigate By</div>
					<!-- OHSU Nav -->
					<ul class="section cspot_nav">
						<li class="navigation_active icon bullet_arrow">
							<a href="/news/">News &amp; Events</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/news/press_releases/">Press Releases</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/news/awards.cfm">Travel Awards</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/news/ak_magazine.cfm">A&amp;K Magazine</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="http://portfolio.abercrombiekent.com/photo_request.cfm">Request Travel Photos</a>
						</li>
					</ul>
				</div>
				<a name="customcf4702" id="customcf4702"></a>
				<a name="CP_JUMP_4702" id="CP_JUMP_4702"></a>
				<div id="cs_control_4702" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1389_4702">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="customcf8174" id="customcf8174"></a>
				<a name="CP_JUMP_8174" id="CP_JUMP_8174"></a>
				<div id="cs_control_8174" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1389_8174">
						<h1>News &amp; Events</h1>
						<h3>
							Please join A&amp;K Philanthropy and Abercrombie &amp; Kent in the largest grassroots environmental movement in history:
						</h3>
						<img style="border:2px solid #fff; padding:0 10px 10px; float:right;" src="http://www.abercrombiekent.com/assets/images/news_events/earth-hour-event.jpg" width="220" height="265" alt="Earth Hour Event">
						<p> <strong>Earth Hour:</strong>
							<br>
							Uniting People to Protect the Planet
							<br> <strong>March 23, 2013
								<br>8:30 – 9:30 pm local time</strong>
						</p>
						<p>
							Earth Hour 2013 will see people around the world cross borders of race, religion, culture, geography and society to unite in a single moment of contemplation for the planet and celebration of their year-round commitment to protect it.
						</p>
						<p>
							“Our A&amp;K family worldwide will be among the hundreds of millions of people in more than 150 countries across every continent taking collective action for our environment,” said Jorie Butler Kent, Vice Chairman, Abercrombie &amp; Kent. “We will feature our commitment to Earth Hour on our websites,
							<a href="https://www.facebook.com/AbercrombieKent" target="_blank">Facebook</a>
							and
							<a href="https://twitter.com/aktravel_usa" target="_blank">Twitter</a>
							, and post our Earth Hour photos on
							<a href="http://instagram.com/abercrombiekent" target="_blank">Instagram</a>
							and
							<a href="http://pinterest.com/abercrombiekent/" target="_blank">Pinterest</a>
							. We invite you to share your photos as well.”
						</p>
						<p>
							We encourage you to join us in supporting Earth Hour 2013 by
							<a href="http://www.earthhour.org/" target="_blank">registering your support</a>
							and switching off all non-essential lighting during Earth Hour.
						</p>
						<br>
						<h2>The Torgersen Island Penguin Camera</h2>
						<img style="border:2px solid #fff; padding:0 10px 10px; float:right;" src="http://www.abercrombiekent.com/assets/images/news_events/penguins.jpg" width="220" height="265" alt="Torgersen Island Penguin Camera">
						<p class="clear_margins"></p>
						<p>
							Protecting the places we visit has always been a paramount concern for Abercrombie &amp; Kent. Each year, with support from A&amp;K Philanthropy, we organize the
							<strong>Climate Change Challenge in Antarctica</strong>
							journey, led by Dr. James McClintock, noted Antarctic researcher and author of <em><a href="http://www.lostantarctica.com/" title="Lost Antarctica" target="_blank">Lost Antarctica</a></em> 
							. The highlight is the chance to visit the U.S. Palmer Research Station in order to deliver scientific equipment needed for climate change research.
						</p>
						<p>
							This year, with generous support from OREO cookies, Abercrombie &amp; Kent delivered a
							<strong>Penguin Cam</strong>
							which is now broadcasting images every 60 seconds from Torgersen Island (64°46'S, 64°04'W), off the coast of Anvers Island. This is unprecedented – there has never been a video cam with this "real time" capacity available to researchers.
						</p>
						<p>
							Torgersen Island is home to a colony of Adélie penguins numbering approximately 2,500. This camera operates during the Adélie breeding season, primarily from October to February. An Adélie breeding pair will often take turns caring for their chicks, while the other goes out into the Ross Sea to feed on krill. Other penguins can sometimes be seen on Torgersen Island, including Gentoo and Chinstrap penguins.
						</p>
						<p>
							<a href="http://www.usap.gov/videoclipsandmaps/camLrg.cfm?station=Palmer&amp;cam=penguin" target="_blank">View</a>
							the Adélie penguins in their natural habitat on Torgersen Island, Antarctica.
						</p>
						<p>
							<a href="http://www.abercrombiekent.com/travel/?tid=5722" target="_blank">Learn more</a>
							about the next
							<strong>Climate Change Challenge</strong>
							in Antarctica cruise (Dec 11-22, 2013).
						</p>
						<p> <em>Please note that the camera is solar-powered and may sometimes experience brief outages due to inclement weather. School classrooms and other educational demonstrations may also take control of the camera, moving it for better views of the colony.</em> 
						</p>
						<p>
							<br></p>
						<h2>
							Think Penguins Are the Only Black &amp; White Icon in Antarctica? Think Again!
						</h2>
						<div class="round_corners color_f4f4f4 float_right" style="padding:20px 15px 15px;">
							<div class="ctl"></div>
							<div class="ctr"></div>
							<div class="cbr"></div>
							<div class="cbl"></div>
							<a href="#gallery" tile="OREO man gallery" onclick="getSlideShowImages2('get_photo_gallery','id=891');">
								<img style="border:2px solid #fff; padding-bottom:10px;" src="http://www.abercrombiekent.com/assets_global/media/images/photo_gallery/general/891/oreo-1.jpg" width="220" height="147" alt="OREO man gallery"></a>
							<p class="clear_margins">
								<a class="icon open_window" href="#gallery" tile="OREO man gallery" onclick="getSlideShowImages2('get_photo_gallery','id=891');">View full size gallery</a>
							</p>
						</div>
						<p>
							Abercrombie &amp; Kent delivered 5,000 OREO cookies to Antarctica to celebrate the cookie's 100 <sup>th</sup>
							birthday. In recognition of conquering its seventh continent, OREO has donated the first solar-powered Penguin Cam to researchers at Palmer Station with the help of Abercrombie &amp; Kent Philanthropy. Professor James McClintock, author of Lost Antarctica and endowed professor of polar and marine biology at the University of Alabama at Birmingham, accepted the delivery from OREO Man on behalf of all the scientists working in Antarctica.
						</p>
						<p>
							The Penguin Cam will be installed on Torgerson Island by mid-January 2013 and broadcast images of Adelie penguins, an indicator species affected by the changing climate in Antarctica. The penguins are vanishing as it warms, due to snow burying their eggs and the loss of annual sea ice.
						</p>
						<p>
							The Penguin Cam will be an important educational outreach tool, providing students and the public with an opportunity to follow the penguins throughout their life cycle and observe their characteristic behaviors.  The Long Term Ecological Research program intends to make the webcam feed available via the internet to students and teachers and post regular updates about what stage of the penguin lifecycle the camera is showing at any given time. If all goes according to plan, it will be possible for teachers to arrange via Palmer Station to control the camera (direction and zoom) from their classroom via computer.
						</p>
						<p>
							In addition to providing views of breeding penguins, the webcam will also build a record of visual weather conditions and climate indicators such as snow cover. These observations can be used in conjunction with traditional weather providers like WeatherUnderground.com for classroom exercises aimed at understanding seasonal weather in Antarctica in a time of climate change.
						</p>
						<p>
							<a href="/news/press_releases/Oreo-Antarctica-with-Abercombie-and-Kent.cfm">Click here</a>
							for more details.
						</p>
						<p>
							<br></p>
						<h2>Other News</h2>
						<dl class="self_clear">
							<!-- Other news event 1 -->
							<dt style="padding-top:12px;" class="line_rule_solid">
								<a class="toggle_btn" rel="news_event_1" href="javascript:void(0);">
									Jorie Butler Kent, A&amp;K Philanthropy Recognized for Innovation and Commitment
								</a>
							</dt>
							<dd class="self_clear">
								<p>
									<img class="float_left" src="http://www.abercrombiekent.com/assets/images/news_events/jbk-award.jpg" height="200" width="150">
									Congratulations to Jorie Butler Kent, founder and president, Abercrombie &amp; Kent Philanthropy, who was recently honored with the prestigious World Tourism Award in recognition for her development of Abercrombie &amp; Kent Philanthropy, and its commitment to sustainable tourism by sponsoring grassroots projects dedicated to preserving natural habitats, protecting wildlife and promoting the welfare of indigenous communities throughout the world.
								</p>
								<p>
									<a class="icon article toggle_btn" rel="news_event_1" href="javascript:void(0);">Read More</a>
								</p>
								<div class="toggle_hide news_event_1" style="display: none;">
									<p>
										The World Tourism Award was presented at World Travel Market in London on November 5th by co-sponsors American Express, Corinthia Hotels, International Herald Tribune and Reed Travel Exhibitions. Inaugurated in 1997 and celebrating its 15th Anniversary the award was established to recognize "the extraordinary initiatives by individuals, companies, organizations, destinations and attractions for outstanding accomplishments in the travel industry."
									</p>
								</div>
								<!-- Other news event 2 -->
							</dd>
							<dt style="padding-top:12px;" class="line_rule_solid">
								<a class="toggle_btn" rel="news_event_2" href="javascript:void(0);">
									Tribute to Geoffrey Kent by Bill Marriott, World Travel &amp; Tourism Council
								</a>
							</dt>
							<dd>
								<p>
									Geoffrey Kent was recently honored by the World Travel &amp; Tourism Council for his service as Chairman over the past five years. His leadership took the organization beyond a focus on travel and tourism's economic impact to the vital contribution it makes to social and cultural sustainability – a triple bottom line. The World Travel &amp; Tourism Council is a global business leaders forum comprising the chairmen and chief executives of 100 of the world's foremost travel and tourism organizations.
								</p>
								<p>
									<a class="icon article toggle_btn" rel="news_event_2" href="javascript:void(0);">Read More</a>
								</p>
								<div class="toggle_hide news_event_2" style="display: none;">
									<hr>
									<p></p>
									<center>
										<iframe width="560" height="315" src="http://www.youtube.com/embed/-4nCKdOBuO0?showinfo=0&amp;rel=0&amp;theme=light&amp;simplebranding=1&amp;wmode=transparent&amp;autoplay=0" frameborder="0" allowfullscreen=""></iframe>
									</center>
									<p></p>
								</div>
							</dd>
							<!-- Other news event 3 -->
							<dt style="padding-top:12px;" class="line_rule_solid">Introducing Connections by Abercrombie &amp; Kent</dt>
							<dd class="self_clear">
								<p>
									<img class="float_left" src="http://www.abercrombiekent.com/assets_global/media/images/brochure_covers/travel-brochure-connections-2013.jpg">
									Fifty years after pioneering the modern luxury safari, Abercrombie &amp; Kent (A&amp;K) has reinvented the concept of group travel. Connections by Abercrombie &amp; Kent is a portfolio of 17 new itineraries that span six continents to offer travellers an authentic, intimate connection with the world's most intriguing places and cultures, combined with the same service on which A&amp;K has built its reputation – all at a never-before-seen value.
								</p>
								<p>
									<a class="icon article" rel="news_event_1" href="/news/press_releases/Connections-by-A-and-K.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
						</dl>
						<!-- Media Contact -->
						<div id="media">
							<div class="photo_contact round_corners color_e4e5e6">
								<div class="ctl"></div>
								<div class="ctr"></div>
								<div class="cbr"></div>
								<div class="cbl"></div>
								<h3>A&amp;K's Photo Gallery</h3>
								<p>
									<a href="http://portfolio.abercrombiekent.com/photo_request.cfm" target="_blank">Click here</a>
									to request for a high-resolution photography to our Public Relations department or login to view A&amp;K's Photo Gallery.
								</p>
								<p class="clear_margins">
									<a class="icon swirl_arrow" href="http://portfolio.abercrombiekent.com/photo_request.cfm" target="_blank">Request Photo</a>
								</p>
							</div>
							<div class="press_contact round_corners color_f2f2f2">
								<div class="ctl"></div>
								<div class="ctr"></div>
								<div class="cbr"></div>
								<div class="cbl"></div>
								<h3>Media Contact</h3>
								<p>
									Jean Fawcett
									<br>
									800 554 7094  ext. 427
									<br>
									<a href="mailto:jfawcett@abercrombiekent.com" target="_blank">jfawcett@abercrombiekent.com</a>
								</p>
							</div>
						</div>
						<p class="base_font_size apple_trademark">
							iPad <sup><span style="font-size: 8px;">®</span></sup> 
							and App Store
							<sup><span style="font-size: 7px;">SM</span></sup> 
							are registered trademarks of Apple Inc.
						</p>
						<!-- End -->
					</div>
				</div>
			</div>
			<div id="cs_control_17873" class="cs_control CS_Element_CustomCF">
				<div id="CS_CCF_1389_17873">
					<!-- META DATA BEGIN -->
					<!-- META DATA END -->
				</div>
			</div>
		</div>
	</div>
</div>