<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/news/">News</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/news/press_releases/">Press Releases</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		Europe Beckons and Value Abounds this Summer on Connections Journeys
	</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="customcf5441" id="customcf5441"></a>
				<a name="CP_JUMP_5441" id="CP_JUMP_5441"></a>
				<div id="cs_control_5441" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_18094_5441"></div>
				</div>
				<a name="customcf5442" id="customcf5442"></a>
				<a name="CP_JUMP_5442" id="CP_JUMP_5442"></a>
				<div id="cs_control_5442" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_18094_5442">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="custom1537" id="custom1537"></a>
				<a name="CP_JUMP_1537" id="CP_JUMP_1537"></a>
				<div id="cs_control_1537" class="cs_control CS_Element_Custom">
					<h1>
						Europe Beckons and Value Abounds on Abercrombie &amp; Kent’s Connections Journeys
					</h1>
					<h3>Select Spring and Summer Departures Still Available</h3>
					<p>
						Late Spring and Summer bring out the best in Europe: ideal weather, colorful gardens, lively town squares – but at this time of year, good value can be difficult to find. Connections by Abercrombie &amp; Kent journeys offer an intimate connection with Europe’s most sought-after destinations at this idyllic time of year, combined with the service the luxury travel company is known for -- all at a value that would be difficult to match booking the same trip on your own.
						<br>
						&nbsp;
						<br>
						“We’ve seen a marked increase in interest in travel to Europe this year,” says Abercrombie &amp; Kent USA President Phil Otterson. “Of our 20 new Connections itineraries, Europe has generated the strongest demand – especially Spain, Italy and Croatia. We were able to lock in prices when the exchange rate was more favorable and now we are passing that value along to our guests.”
						<br>
						<br>
						Each Connections journey takes guests beneath the surface with a careful balance of expertly guided sightseeing and ample free time to pursue personal interests. Group size is kept small, no more than 24-28 guests, which allows for more one-on-one interaction with the expert A&amp;K Tour Director who orchestrates each journey from beginning to end. Resident local guides lend expertise that can only come from specialists such artists, historians and naturalists.
						<br>
						<br>
						“The biggest surprise is found in destinations where many people consider travelling on their own,” explains Otterson. “But these destinations are where Connections journeys offer the greatest value -- with special access.  For example, at Spain’s Sagrada Familia, we use a rear entrance, rather than waiting in a line that wraps around the block. In Venice we visit a private atelier, a workshop where Carnival costumes are made that is housed inside a palace that belongs to one of the oldest families in Venice.”
						<br>
						<br>
						Guests benefit from Abercrombie &amp; Kent’s 50 on-site offices, which are small enough to offer personal attention, yet, as a group of companies, are large enough to secure the best guides, accommodations and transportation at significant savings over what an individual traveller can arrange. A&amp;K’s contract rates for accommodations and transportation offer significant savings over a similar private itinerary - up to 30%.
						<br>
						<br>
						Guests on a Connections journey appreciate the balance between planned meals that represent the flavors of the destination, and the freedom to indulge personal preferences. In keeping with the focus on a truly authentic experience, the hotels and lodges featured have been carefully selected not only because they represent the unique character of a place, but also for their amenities and convenient locations, which allow guests to make the most of their free time.
						<br>
						<br>
						Spanning the globe, Connections by Abercrombie &amp; Kent reveal destinations on six continents, including seven in Europe, with select spring and summer dates still available.
						<br>
						<br>
						Croatia: Jewel of the Coast
						<br>
						Available Spring &amp; Summer Dates: May 24-Jun 1
						<br>
						Meet a local fisherman and sample his harvest of Croatia’s famous oysters. Attend a private talk in Dubrovnik with a local resident who relates her experiences during the Balkan War. Meet traders and craftsmen of Dubrovnik. Immerse yourself in Croatia’s musical heritage during a local brass band performance. Nine days from $3,675.
						<br>
						<br>
						Classical Danube
						<br>
						Available Spring &amp; Summer Dates: Jul 25-Aug 3
						<br>
						Follow the romantic Danube aboard the new MS ‘Amadeus Brilliant’ through storied Eastern European lands including three capital cities: Hungary’s Budapest, Bratislava in Slovakia and Vienna, Austria. Explore Budapest’s neo-Renaissance Opera House, Vienna’s modern Hundertwasser House and Melk’s spectacular 900-year-old Benedictine abbey. 10 days, including 7-night cruise, from $4,195.
						<br>
						<br>
						Eastern Europe: Budapest, Vienna &amp; Prague
						<br>
						Available Spring &amp; Summer Dates: May 14-23, Jun 18-27, Jul 9-18
						<br>
						Experience three of Europe's great cities through activities that bring out their unique character. Cruise the Danube at dusk, brush up on the waltz in Vienna and tour the Strahov Monastery in Prague. Stay at two Condé Nast Traveler Gold List 2013 hotels, Hotel Imperia Vienna and InterContinental Budapest. 10 days from $4,335.
						<br>
						<br>
						Italy: Renaissance Cities
						<br>
						Available Spring &amp; Summer Dates: Apr 30-May 7, Jun 11-18, Jul 30-Aug 6, Aug 20-27
						<br>
						Go beneath the surface of Italy's best-known sites and cities. Learn the art of pizza making in Rome, sample local honey on a farm in Siena and tour the Uffizi Gallery in Florence with an expert guide. Enjoy unique, private access to the atelier (workshop) that produces Venice's carnival costumes, and tour the palace that houses it. Eight days from $4,380.
						<br>
						<br>
						France: Art &amp; Artistry
						<br>
						Available Spring &amp; Summer Dates: May 3-11
						<br>
						Experience France with all your senses on this journey, which features wine and olive oil tastings, lunch at a Provençal farm, a walking tour of Paris with a local resident and a visit to Paul Cezanne's studio. Nine days from $4,760.
						<br>
						<br>
						Spain: Seven Cities
						<br>
						Available Spring &amp; Summer Dates: May 13-22, Jun 24-Jul 3, Jul 8-17, Jul 22-31
						<br>
						Sample olive oil in Granada, sherry in Jerez and tapas in Seville. Enjoy a horse-drawn carriage ride to a private dinner at a historic palace, hosted by the owners and followed by a performance of flamenco dancing and singing. 10 days from $5,495.
						<br>
						<br>
						Italy: South to North
						<br>
						Available Spring &amp; Summer Dates: May 27-Jun 8, Jul 1-13, Jul 22-Aug 3
						<br>
						Discover Rome alongside a local resident, learn the secrets of Florentine cooking during a private lesson and sample many of Italy's culinary delights, from mozzarella to balsamic vinegar, with the people who produce them. 13 days from $7,270.
						<br>
						<br>
						Departure dates in bold text are guaranteed to operate with a minimum of two guests.
						<br>
						<br>
						Discover a world of inspiring travel in Europe made possible only with Connections by Abercrombie &amp; Kent. Call 800.554.7094 to speak with an A&amp;K Travel Consultant or go to www.ak-connections.com to learn more.
						<br>
						<br>
						# # #
						<br>
						<br>
						Prices are per person, double occupancy
						<br>
						A video introduction to Connections travel is available at http://youtu.be/9MN37KWK0KA
						<br>
						<br>
						Photos are available at http://portfolio.abercrombiekent.com/res/sites/ak-connections
						<br>
						<br>&nbsp;
					</p>
					<div id="media_footer" class="round_corners color_f2f2f2">
						<div class="ctl"></div>
						<div class="ctr"></div>
						<div class="cbr"></div>
						<div class="cbl"></div>
						<p class="clear_margins"> <strong>Media Contact:</strong>
							Jean Fawcett &nbsp; <strong>Tel:</strong>
							800 554 7094 ext. 427 &nbsp;
							<strong>Email:</strong>
							<a href="mailto:jfawcett@abercrombiekent.com">jfawcett@abercrombiekent.com</a>
						</p>
					</div>
					<p>
						<a class="icon swirl_arrow" href="/news/press_releases/">Back to Press Releases</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>