<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/news/">News</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Press Releases</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="custom12103" id="custom12103"></a>
				<a name="CP_JUMP_12103" id="CP_JUMP_12103"></a>
				<div id="cs_control_12103" class="cs_control CS_Element_Custom">
					<div class="hl3">Navigate By</div>
					<!-- OHSU Nav -->
					<ul class="section cspot_nav">
						<li class="icon bullet_arrow">
							<a href="/news/">News &amp; Events</a>
						</li>
						<li class="navigation_active icon bullet_arrow">
							<a href="/news/press_releases/">Press Releases</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/news/awards.cfm">Travel Awards</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/news/ak_magazine.cfm">A&amp;K Magazine</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="http://portfolio.abercrombiekent.com/photo_request.cfm">Request Travel Photos</a>
						</li>
					</ul>
				</div>
				<a name="customcf4702" id="customcf4702"></a>
				<a name="CP_JUMP_4702" id="CP_JUMP_4702"></a>
				<div id="cs_control_4702" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1575_4702">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="customcf8184" id="customcf8184"></a>
				<a name="CP_JUMP_8184" id="CP_JUMP_8184"></a>
				<div id="cs_control_8184" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1575_8184">
						<h1>Press Releases</h1>
						<div class="paging self_clear">
							<a href="/news/press_releases/?scp=2" class="next_page" title="View results on page 2"></a>
							<ul class="clear_list_style clear_margins">
								<li> <strong>1</strong>
								</li>
								<li>
									<a href="/news/press_releases/?scp=2" title="View results on page 2">2</a>
								</li>
								<li>
									<a href="/news/press_releases/?scp=3" title="View results on page 3">3</a>
								</li>
							</ul>
							<span>Go to page:</span>
							Showing 1 - 10 of 23
						</div>
						<dl id="press_releases" class="line_rule cap_ends">
							<dt>
								<a href="/news/press_releases/Europe-Beckons-and-Value-Abounds-this-Summer-on-Connections-Journeys.cfm?&amp;bcid=1575">
									Europe Beckons and Value Abounds on Abercrombie &amp; Kent’s Connections Journeys
								</a>
							</dt>
							<dd> <strong>Select Spring and Summer Departures Still Available</strong>
							</dd>
							<dd>
								<p>
									Late Spring and Summer bring out the best in Europe: ideal weather, colorful gardens, lively town squares – but at this time of year, good value can be difficult to find. Connections by Abercrombie &amp; Kent journeys offer an intimate...
									<a class="icon article" href="/news/press_releases/Europe-Beckons-and-Value-Abounds-this-Summer-on-Connections-Journeys.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/Tourism-for-Tomorrow-Awards.cfm?&amp;bcid=1575">Tourism for Tomorrow Awards</a>
							</dt>
							<dd>
								<p>
									Abercrombie &amp; Kent was honored as a finalist for the prestigious Global Tourism Business Award during the Tourism for Tomorrow Awards ceremony at the annual World Travel &amp; Tourism Council Global Summit in Abu Dhabi this week. This award, one of the highest accolades in the global Travel &amp; Tourism industry, highlights Abercrombie &amp; Kent’s leadership in...
									<a class="icon article" href="/news/press_releases/Tourism-for-Tomorrow-Awards.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/Marett-Taylor-Appointed-Vice-President-Agency-Sales-Abercrombie-and-Kent.cfm?&amp;bcid=1575">
									Marett Taylor Appointed Vice President, Agency Sales, Abercrombie &amp; Kent
								</a>
							</dt>
							<dd>
								<p>
									Phil Otterson, president of Abercrombie &amp; Kent USA, announced the appointment of Marett Taylor to the position of Vice President, Agency Sales, effective immediately. “In this new role, Marett will be responsible for leading the company’s North American travel agency sales efforts,” he explained. “Her unparalleled knowledge of A&amp;K’s destination management...
									<a class="icon article" href="/news/press_releases/Marett-Taylor-Appointed-Vice-President-Agency-Sales-Abercrombie-and-Kent.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/High-Demand-for-High-Arctic-cruises-with-Abercrombie-and-Kent.cfm?&amp;bcid=1575">
									High Demand for the High Arctic: A&amp;K Offers Two New Cruises for 2014
								</a>
							</dt>
							<dd>
								<strong>Explore this Remote Region Aboard ‘Le Boreal’ and Save up to $3,000 Per Cabin</strong> 
							</dd>
							<dd>
								<p>
									Less than 600 miles from the geographic North Pole lie the barren landscapes of Norway's Svalbard archipelago, where polar bears, walrus, reindeer and a variety of birds are as abundant as the crystalline glaciers and snow-capped...
									<a class="icon article" href="/news/press_releases/High-Demand-for-High-Arctic-cruises-with-Abercrombie-and-Kent.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/River-Cruises-Aboard-MS-Amadeus-Brilliant.cfm?&amp;bcid=1575">Europe’s Best Kept Secrets Revealed Through its Waterways</a>
							</dt>
							<dd>
								<strong>Abercrombie &amp; Kent Introduces New Connections Journeys aboard MS ‘Amadeus Brilliant’</strong> 
							</dd>
							<dd>
								<p>
									River cruising has remained under the radar as not only one of the most relaxed and intimate ways to experience the beauty of Europe, but also one of the best values in travel today. Whereas European tours typically focus on big...
									<a class="icon article" href="/news/press_releases/River-Cruises-Aboard-MS-Amadeus-Brilliant.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/South-Australia-and-New-Zealand.cfm?&amp;bcid=1575">Two Worlds of Wonder, One Epic Adventure</a>
							</dt>
							<dd>
								<strong>
									Discover the best of South Australia and New Zealand with Abercrombie &amp; Kent
								</strong>
							</dd>
							<dd>
								<p>
									From world-famous wine and five-star gourmet meals to the untamed outback, white-sand beaches, unparalleled wildlife experiences and breathtaking scenery – South Australia and New Zealand offer unforgettable experiences that draw...
									<a class="icon article" href="/news/press_releases/South-Australia-and-New-Zealand.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/AK-Private-Jet-Africa.cfm?&amp;bcid=1575">
									A&amp;K Reintroduces Private Jet Program and Presents “Africa: Across a Continent by Private Jet”
								</a>
							</dt>
							<dd>
								<strong>Join A&amp;K Founder Geoffrey Kent on Safari</strong>
							</dd>
							<dd>
								<p>
									Nothing can prepare you for the grandeur and diversity of Africa, and there is no better way to explore all the continent has to offer than by private jet. For those who want to do and experience more, Abercrombie &amp; Kent’s private...
									<a class="icon article" href="/news/press_releases/AK-Private-Jet-Africa.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/Sports-Illustrated-Swimsuit-2013-Kate-Upton-Antarctica-With-Abercrombie-and-Kent.cfm?&amp;bcid=1575">
									A&amp;K and Sports Illustrated Swimsuit 2013 Make History in Antarctica with the "Coolest" Cover Ever
								</a>
							</dt>
							<dd>
								<p>
									The icebergs of Antarctica may have melted a little faster this past November as supermodel Kate Upton posed for the 2013 cover of Sports Illustrated Swimsuit and was the focus of the first fashion shoot ever to take place on the white continent. Sports Illustrated Swimsuit 2013, which will hit newsstands and launch online at www.si.com/swimsuit on...
									<a class="icon article" href="/news/press_releases/Sports-Illustrated-Swimsuit-2013-Kate-Upton-Antarctica-With-Abercrombie-and-Kent.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/Abercrombie-and-Kent-launches-the-A-and-K-Lifestyle-Club.cfm?&amp;bcid=1575">Abercrombie &amp; Kent launches the A&amp;K Lifestyle Club</a>
							</dt>
							<dd>
								<strong>
									Individually tailored service focussed across travel, lifestyle and safety
								</strong>
							</dd>
							<dd>
								<p>
									Abercrombie &amp; Kent, the world’s leading luxury travel company, is launching the first Global Lifestyle Club specifically dedicated to discerning travellers providing its members with the ultimate in travel, lifestyle, medical and...
									<a class="icon article" href="/news/press_releases/Abercrombie-and-Kent-launches-the-A-and-K-Lifestyle-Club.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
							<dt>
								<a href="/news/press_releases/Save-on-Private-Travel-with-Abercrombie-and-Kent.cfm?&amp;bcid=1575">
									Resolve to Save on a Spring Fling with Abercrombie &amp; Kent
								</a>
							</dt>
							<dd>
								<strong>
									Save 25% on Private Travel to the World’s Most Iconic Sites in the Company of an Expert Guide
								</strong>
							</dd>
							<dd>
								<p>
									If your resolutions for 2013 included seeing more of the world, this spring is the perfect time to take your pick of the wonders of the world and enjoy terrific savings. In March and April, travel on select A&amp;K Signature journeys to...
									<a class="icon article" href="/news/press_releases/Save-on-Private-Travel-with-Abercrombie-and-Kent.cfm?&amp;bcid=1575">Read More</a>
								</p>
							</dd>
						</dl>
						<div class="paging self_clear">
							<a href="/news/press_releases/?scp=2" class="next_page" title="View results on page 2"></a>
							<ul class="clear_list_style clear_margins">
								<li>
									<strong>1</strong>
								</li>
								<li>
									<a href="/news/press_releases/?scp=2" title="View results on page 2">2</a>
								</li>
								<li>
									<a href="/news/press_releases/?scp=3" title="View results on page 3">3</a>
								</li>
							</ul>
							<span>Go to page:</span>
							Showing 1 - 10 of 23
						</div>
						<!-- Media Contact -->
						<div id="media_footer" class="round_corners color_f2f2f2">
							<div class="ctl"></div>
							<div class="ctr"></div>
							<div class="cbr"></div>
							<div class="cbl"></div>
							<p class="clear_margins">
								<strong>Media Contact:</strong>
								Jean Fawcett &nbsp;
								<strong>Tel:</strong>
								800 554 7094 ext. 427 &nbsp;
								<strong>Email:</strong>
								<a href="mailto:jfawcett@abercrombiekent.com">jfawcett@abercrombiekent.com</a>
							</p>
						</div>
					</div>
				</div>
				<div id="cs_control_17875" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1575_17875">
						<!-- META DATA BEGIN -->
						<!-- META DATA END -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>