<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
	</li>
	<li>
		&nbsp;&nbsp;/&nbsp;&nbsp;
		<a href="/search.cfm">Search</a>
	</li>
	<li>
		&nbsp;&nbsp;/&nbsp;&nbsp;Kenya &amp; Tanzania Wildlife Safari
	</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<!-- RELATED BROCHURES -->
		<div class="hl3">Related Brochures</div>
		<div class="section">
			<div class="related_brochure self_clear">
				<p>
					<img src="/assets_global/media/images/brochure_covers/travel-brochure-small-group-luxury-journeys-2013.jpg" width="93" height="120" alt="A&amp;K Luxury Small Group Journeys 2013" title="Luxury Small Group Journeys 2013 brochure">Luxury Small Group Journeys 2013</p>
				<ul>
					<li>
						<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=223" title="View Luxury Small Group Journeys 2013" rel="Luxury Small Group Journeys 2013 [223]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
					</li>
					<li>
						<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=223" onclick="recordIt('Brochure Download PDF','','')">Download</a>
					</li>
					<li>
						<a class="icon request_brochure" href="/travel_brochures/?brid=223">Request</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="related_brochure self_clear">
				<p>
					<img src="/assets_global/media/images/brochure_covers/travel-brochure-private-travel-2013.jpg" width="93" height="120" alt="Luxury Private Travel 2013" title="Luxury Private Travel 2013 brochure">Luxury Private Travel 2013</p>
				<ul>
					<li>
						<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=228" title="View Luxury Private Travel 2013" rel="Luxury Private Travel 2013 [228]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
					</li>
					<li>
						<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=228" onclick="recordIt('Brochure Download PDF','','')">Download</a>
					</li>
					<li>
						<a class="icon request_brochure" href="/travel_brochures/?brid=228">Request</a>
					</li>
				</ul>
			</div>
			<p>
				<a class="icon swirl_arrow" href="/travel_brochures/">View All Brochures</a>
			</p>
		</div>
		<!-- DOWNLOAD TRIP FACTS -->
		<div class="hl3">Trip Information</div>
		<dl class="section clear_list_style">
			<dt>Kenya &amp; Tanzania Wildlife Safari</dt>
		</dl>
		<div class="section">
			<div class="travel-tips">
				<img src="/assets/images/graphics/trip-pdf-download.gif" width="59" height="61">
				<p>
					<br>
					<a class="icon download" href="/assets_global/media/pdf/travel_tips/Kenya-and-Tanzania-Wildlife-Safari.pdf" target="_blank">Download Travel Tips</a>
					<br>
					<br>
					<br></p>
			</div>
			<ul class="clear_list_style">
				<li>
					<a class="icon article" href="/travel/terms_and_conditions.cfm?tid=5584" onclick="window.open(this.href,'TNC_win','height=500,width=830,toolbars=no,scrollbars=yes,location=no,resizable=yes'); return false;" target="_blank" title="">Terms &amp; Conditions</a>
				</li>
			</ul>
		</div>
		<!-- RELATED INFORMATION-->
		<dl class="section clear_list_style">
			<dt>Photo Gallery</dt>
			<dd>
				<ul class="bullet_list">
					<li>
						<a href="javascript:void(0);" title="Amboseli Serena Safari Lodge" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-1750');">Amboseli Serena Safari Lodge</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Lake Manyara Serena Safari Lodge" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-710');">Lake Manyara Serena Safari Lodge</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Mara Intrepids" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-719');">Mara Intrepids</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Nairobi Serena Hotel" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-944');">Nairobi Serena Hotel</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Nairobi Serena Hotel (dayroom)" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-4646');">Nairobi Serena Hotel (dayroom)</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Ngorongoro Serena Safari Lodge" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-718');">Ngorongoro Serena Safari Lodge</a>
					</li>
					<li>
						<a href="javascript:void(0);" title="Serengeti Serena Safari Lodge" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-727');">Serengeti Serena Safari Lodge</a>
					</li>
				</ul>
			</dd>
			<dt>Kenya Information</dt>
			<dd>
				<ul class="bullet_list">
					<li>
						<a href="/assets_global/media/images/weather/best-time-to-visit-kenya.gif" onclick="window.open(this.href,'climate_win','height=250,width=340,toolbars=no,scrollbars=auto,location=no,resizable=yes'); return false;" target="_blank" title="">Climate</a>
					</li>
					<li>
						<a href="https://www.cia.gov/library/publications/the-world-factbook/geos/ke.html" target="_blank" title="">World Fact Book</a>
					</li>
					<li>
						<a href="http://wwwnc.cdc.gov/travel/destinations/kenya.htm" target="_blank" title="">CDC Information</a>
					</li>
				</ul>
			</dd>
			<dt>Tanzania Information</dt>
			<dd>
				<ul class="bullet_list">
					<li>
						<a href="/assets_global/media/images/weather/best-time-to-visit-tanzania.gif" onclick="window.open(this.href,'climate_win','height=250,width=340,toolbars=no,scrollbars=auto,location=no,resizable=yes'); return false;" target="_blank" title="">Climate</a>
					</li>
					<li>
						<a href="https://www.cia.gov/library/publications/the-world-factbook/geos/tz.html" target="_blank" title="">World Fact Book</a>
					</li>
					<li>
						<a href="http://wwwnc.cdc.gov/travel/destinations/tanzania.htm" target="_blank" title="">CDC Information</a>
					</li>
				</ul>
			</dd>
			<dt>Travel Store</dt>
			<dd>
				<ul class="bullet_list">
					<li>
						<a href="http://www.longitudebooks.com/find/d/8073/r/AK/mcms.html" target="_blank" title="">Essential Reading</a>
					</li>
					<li>
						<a href="/travel_store/currency.cfm" title="">Foreign Currency</a>
					</li>
					<li>
						<a href="/travel_store/luggage.cfm" title="">Luggage Delivery</a>
					</li>
					<li>
						<a href="http://usa.thetraveloutfitter.com/index.php?cPath=34_60" target="_blank" title="">Recommended Clothing</a>
					</li>
					<li>
						<a href="/travel_store/satellite_phone.cfm" title="">Satellites &amp; Global Phones</a>
					</li>
					<li>
						<a href="/travel_store/travel_insurance/" title="">Travel Insurance</a>
					</li>
					<li>
						<a href="/travel_store/visa_expedition.cfm" title="">Visas &amp; Passports</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="end_cap"></div>
		<a href="/travel_specials/?tsid=285" onclick="pageTracker._trackEvent('Banner', 'click', 'Tailor Made Banner');">
			<img src="/assets/images/marketing/banners/tailor-made.gif"></a>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<iframe style="position:absolute; left:-9999px;" id="print-frame" src="/assets/images/common/transparent.gif"></iframe>
		<!-- PRIMARY HEADING -->
		<h1>Kenya &amp; Tanzania Wildlife Safari</h1>
		<h4 class="clear_margins icon luxury amp" style="padding-top:2px;">
			Luxury Small Group Journeys: The finest small-group travel experience
		</h4>
		<!-- LIVEPERSON -->
		<div id="chat_reminder" style="visibility: visible;">
			<a href="#" id="lpDynamicButtonHref-798" style="cursor: default;" title="">
				<img id="lpDynamicButtonImg-798" name="lpDynamicButtonImg-798" border="0" style="border: 0px none" src="https://www.abercrombiekent.com/assets/images/liveperson/default/repoffline.gif" alt=""></a>
		</div>
		<script type="text/javascript">
		//<![CDATA[
		try{
			if(typeof(lpMTagConfig.dynButton)!="undefined"){
				lpMTagConfig.dynButton[lpMTagConfig.dynButton.length] = {'name':"chat-"+lpUnit+"-"+lpLanguage,'pid':'chat_reminder'};
			}			
		}catch(e){}
		//]]>
	</script>
		<!-- LINK LIST -->
		<ul class="attribute_list">
			<li>
				<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;tid=5584&amp;brid=223" title="Download a PDF of Kenya &amp; Tanzania Wildlife Safari ">Download Trip PDF</a>
			</li>
			<li>
				<a class="icon share" title="Send this Trip to a Friend" href="/travel/send_trip_to_friend.cfm?tid=5584" onclick="window.open('/travel/send_trip_to_friend.cfm?tid=5584', 'myWindow', 'toolbar=no, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=600, height=550'); return false" target="_blank">Send this Trip to a Friend</a>
			</li>
			<li>
				<a rel="nofollow" class="icon print" title="Print This Trip" href="/print/dsp_trip.cfm?tid=5584" onclick="window.open('/print/dsp_trip.cfm?tid=5584', 'myWindow', 'toolbar=yes, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=1060, height=800'); return false" target="_blank">Print This Trip</a>
			</li>
		</ul>
		<!-- TRIP NAVIGATION -->
		<div id="trip_navigation_top" class="self_clear padding_6_tabs">
			<ul>
				<li>
					<a href="/travel/?fuseaction=dsp_description&amp;tid=5584" title="Overview">Overview</a>
				</li>
				<li>
					<a href="/travel/?fuseaction=dsp_itinerary&amp;tid=5584" title="Itinerary">Itinerary</a>
				</li>
				<li id="current">
					<a href="/travel/?fuseaction=dsp_dates&amp;tid=5584" title="Dates &amp; Prices">Dates &amp; Prices</a>
				</li>
				<li>
					<a href="/travel/?fuseaction=dsp_related&amp;tid=5584" title="Extensions">Extensions</a>
				</li>
				<li>
					<a href="/travel/?fuseaction=dsp_question&amp;tid=5584" title="Ask a Question">Ask a Question</a>
				</li>
			</ul>
		</div>
		<h2>Request Booking</h2>
		<p>
			If you have an account,
			<a href="login.cfm">login here</a>
			.
		</p>
		<p>To request booking, submit the guest form below.</p>
		<table class="format_table">
			<thead>
				<tr>
					<th>
						Availability:
				
				Available
					</th>
					<th>Unit Price</th>
					<th>Guests</th>
					<th>Sub-Totals</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <strong>Dates:</strong>
						07/16/2013 to 07/27/2013
					</td>
					<td>$9,495</td>
					<td>2</td>
					<td align="right">$18,990</td>
				</tr>
				<!-- IS INTERNAL AIRFARE INCLUDED IN THIS TRIP -->
				<tr>
					<td> <strong>Internal&nbsp;Airfare:</strong>
					</td>
					<td>$1,110</td>
					<td>2</td>
					<td align="right">$2,220</td>
				</tr>
				<!-- IS A SUPPLEMENT INCLUDED IN THIS TRIP -->
				<!-- ADD PRICE -->
				<tr>
					<td>
						<strong>Priced From (USD):</strong>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td align="right">
						<strong>$21,210</strong>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="clear_list_style"></ul>
		<p>
			Availability shown does not reflect real time status and is subject to change. In the case of Sold Out availability, A&amp;K recommends requesting a booking and adding your name to our waitlist. We will contact you if the departure becomes available.
						
	
	Sub-Totals do not include international airfare, upgrades, taxes, seasonal surcharges and optional services not specified in the Inclusions section of the program description or Terms and Conditions.
		</p>
		<div style="width:80%">
			<div class="self-clear">
				<p id="requiredText">
					Required <em>*</em>
				</p>
			</div>
			<form action="https://www.abercrombiekent.com/travel/index.cfm?fuseaction=act_request_booking&amp;tid=5584" id="booking_request" method="post" name="booking_request" class="uniForm">
				<fieldset class="inlineLabels">
					<h3>Traveller Information</h3>
					<input name="startDate" id="startDate" value="2013-07-16 00:00:00.0" type="hidden">
					<input name="ordertotal" id="ordertotal" value="21210" type="hidden">
					<input name="packagedateid" id="packagedateid" value="393841" type="hidden">
					<input name="orderqty" id="orderqty" value="2" type="hidden">
					<input name="noOfCompanions" id="noOfCompanions" value="2" type="hidden">
					<input name="PackageSubType" id="PackageSubType" value="" type="hidden">
					<input name="GeoEmail" id="GeoEmail" value="WebSGJ@abercrombiekent.com" type="hidden">
					<input name="PackageID" id="PackageID" value="5584" type="hidden">
					<input name="tpcpackage" id="tpcpackage" value="Kenya &amp; Tanzania Wildlife Safari" type="hidden">
					<div id="ctrlHolder_title" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="title_err">Select your title</p>
						<label for="title" class="required"> <em>*</em>
							Title
						</label>
						<select name="title" id="title" class="required" tabindex="1" style="">
							<option value="0">Select a Title</option>
							<option value="153">Mr.</option>
							<option value="154">Mrs.</option>
							<option value="155">Ms.</option>
							<option value="157">Dr.</option>
						</select>
					</div>
					<div id="ctrlHolder_firstName" class="ctrlHolder">
						<p class="errorFieldHide" id="firstName_err">Enter your first name</p>
						<label for="firstName" class="required">
							<em>*</em>
							First Name
						</label>
						<input name="firstName" id="firstName" value="" size="30" type="text" class="required" tabindex="2"></div>
					<div id="ctrlHolder_middleInitial" class="ctrlHolder">
						<p class="errorFieldHide" id="middleInitial_err"></p>
						<label for="middleInitial" class="">Middle Initial</label>
						<input name="middleInitial" id="middleInitial" value="" size="30" type="text" class="" tabindex="3"></div>
					<div id="ctrlHolder_lastName" class="ctrlHolder">
						<p class="errorFieldHide" id="lastName_err">Enter your last name</p>
						<label for="lastName" class="required">
							<em>*</em>
							Last Name
						</label>
						<input name="lastName" id="lastName" value="" size="30" type="text" class="required" tabindex="4"></div>
				</fieldset>
				<fieldset class="inlineLabels">
					<h3>Contact Information</h3>
					<div id="ctrlHolder_contact_preference" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="contact_preference_err"></p>
						<p class="label ">Preferred method of contact</p>
						<label for="contact_preference-1" class="inlineLabel">
							<input name="contact_preference" id="contact_preference-1" type="radio" value="Email" checked="checked" class="" tabindex="5">Email</label>
						<label for="contact_preference-2" class="inlineLabel">
							<input name="contact_preference" id="contact_preference-2" type="radio" value="Daytime Phone" class="" tabindex="5">Daytime Phone</label>
					</div>
					<div id="ctrlHolder_email" class="ctrlHolder">
						<p class="errorFieldHide" id="email_err">Enter a valid email address</p>
						<label for="email" class="required">
							<em>*</em>
							Email Address
						</label>
						<input name="email" id="email" value="" size="30" type="text" class="required email" tabindex="6"></div>
					<input type="hidden" name="AJAXURL" id="AJAXURL" value="/qas/prowebproxy.aspx">
					<input type="hidden" name="ADDRESSLAYOUT" id="ADDRESSLAYOUT" value="Database layout">
					<input type="hidden" name="RUN_AS_POPUP" id="RUN_AS_POPUP" value="true">
					<input type="hidden" name="IGNORE_UNMATCHED_ADDRESSES" id="IGNORE_UNMATCHED_ADDRESSES" value="false">
					<input type="hidden" name="IGNORE_CONNECTION_ERROR" id="IGNORE_CONNECTION_ERROR" value="true">
					<input type="hidden" name="BYPASS_QAS_VERIFICATION" id="BYPASS_QAS_VERIFICATION" value="false">
					<input type="hidden" name="QASMatched" id="QASMatched" label="" value="false">
					<input type="hidden" name="LINEONECTL" id="LINEONECTL" value="address1">
					<input type="hidden" name="LINETWOCTL" id="LINETWOCTL" value="address2">
					<input type="hidden" name="LINETHREECTL" id="LINETHREECTL" value="address3">
					<input type="hidden" name="CITYCTL" id="CITYCTL" value="city">
					<input type="hidden" name="STATECTL" id="STATECTL" value="state">
					<input type="hidden" name="ZIPCTL" id="ZIPCTL" value="postal_code">
					<input type="hidden" name="COUNTRYCTL" id="COUNTRYCTL" value="country">
					<input name="FORM_BUTTON_ID" id="FORM_BUTTON_ID" value="submit_btn" type="hidden">
					<input name="address3" id="address3" value="" type="hidden">
					<div id="ctrlHolder_address1" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="address1_err">Enter your street address</p>
						<label for="address1" class="required">
							<em>*</em>
							Address 1
						</label>
						<input name="address1" id="address1" value="" size="30" type="text" class="noemail required" tabindex="7"></div>
					<div id="ctrlHolder_address2" class="ctrlHolder">
						<p class="errorFieldHide" id="address2_err"></p>
						<label for="address2">Address 2</label>
						<input name="address2" id="address2" value="" size="30" type="text" tabindex="8"></div>
					<div id="ctrlHolder_city" class="ctrlHolder">
						<p class="errorFieldHide" id="city_err">Enter your city</p>
						<label for="city" class="required">
							<em>*</em>
							City
						</label>
						<input name="city" id="city" value="" size="30" type="text" class="required" tabindex="9"></div>
					<div id="ctrlHolder_state" class="ctrlHolder">
						<p class="errorFieldHide" id="state_err">Enter your state or region</p>
						<label for="state" class="required">
							<em>*</em>
							State/Region
						</label>
						<input name="state" id="state" value="" size="30" type="text" class="required" tabindex="10"></div>
					<div id="ctrlHolder_postal_code" class="ctrlHolder">
						<p class="errorFieldHide" id="postal_code_err">Enter your postal code</p>
						<label for="postal_code" class="required">
							<em>*</em>
							Postal Code
						</label>
						<input name="postal_code" id="postal_code" value="" size="30" type="text" class="required" tabindex="11"></div>
					<div id="ctrlHolder_country" class="ctrlHolder">
						<p class="errorFieldHide" id="country_err"></p>
						<label for="country">Country</label>
						<select name="country" id="country" tabindex="12" style="">
							<option value="USA" selected="selected">United States</option>
							<option value="AFG">Afghanistan</option>
							<option value="ALB">Albania</option>
							<option value="DZA">Algeria</option>
							<option value="ASM">American Samoa</option>
							<option value="AND">Andorra</option>
							<option value="AGO">Angola</option>
							<option value="AIA">Anguilla</option>
							<option value="ATA">Antarctica</option>
							<option value="ATG">Antigua and Barbuda</option>
							<option value="AAA">Arctic</option>
							<option value="ARG">Argentina</option>
							<option value="ARM">Armenia</option>
							<option value="ABW">Aruba</option>
							<option value="AUS">Australia</option>
							<option value="AUT">Austria</option>
							<option value="AZE">Azerbaijan</option>
							<option value="BHS">Bahamas</option>
							<option value="BHR">Bahrain</option>
							<option value="BGD">Bangladesh</option>
							<option value="BRB">Barbados</option>
							<option value="BLR">Belarus</option>
							<option value="BEL">Belgium</option>
							<option value="BLZ">Belize</option>
							<option value="BEN">Benin</option>
							<option value="BMU">Bermuda</option>
							<option value="BTN">Bhutan</option>
							<option value="BOL">Bolivia</option>
							<option value="BIH">Bosnia and Herzegovina</option>
							<option value="BWA">Botswana</option>
							<option value="BVT">Bouvet Island</option>
							<option value="BRA">Brazil</option>
							<option value="IOT">British Indian Ocean Territory</option>
							<option value="BRN">Brunei Darussalam</option>
							<option value="BGR">Bulgaria</option>
							<option value="BFA">Burkina Faso</option>
							<option value="BDI">Burundi</option>
							<option value="KHM">Cambodia</option>
							<option value="CMR">Cameroon</option>
							<option value="CAN">Canada</option>
							<option value="CPV">Cape Verde</option>
							<option value="CYM">Cayman Islands</option>
							<option value="CAF">Central African Republic</option>
							<option value="TCD">Chad</option>
							<option value="CHL">Chile</option>
							<option value="CHN">China</option>
							<option value="CXR">Christmas Island</option>
							<option value="CCK">Cocos (Keeling) Islands</option>
							<option value="COL">Colombia</option>
							<option value="COM">Comoros</option>
							<option value="COG">Congo</option>
							<option value="COD">Congo, the Democratic Republic of the</option>
							<option value="COK">Cook Islands</option>
							<option value="CRI">Costa Rica</option>
							<option value="CIV">Cote D'Ivoire</option>
							<option value="HRV">Croatia</option>
							<option value="CUB">Cuba</option>
							<option value="CYP">Cyprus</option>
							<option value="CZE">Czech Republic</option>
							<option value="DNK">Denmark</option>
							<option value="DJI">Djibouti</option>
							<option value="DMA">Dominica</option>
							<option value="DOM">Dominican Republic</option>
							<option value="ECU">Ecuador &amp; Galápagos</option>
							<option value="EGY">Egypt</option>
							<option value="SLV">El Salvador</option>
							<option value="GNQ">Equatorial Guinea</option>
							<option value="ERI">Eritrea</option>
							<option value="EST">Estonia</option>
							<option value="ETH">Ethiopia</option>
							<option value="FLK">Falkland Islands (Malvinas)</option>
							<option value="FRO">Faroe Islands</option>
							<option value="FJI">Fiji</option>
							<option value="FIN">Finland</option>
							<option value="FRA">France</option>
							<option value="GUF">French Guiana</option>
							<option value="PYF">French Polynesia</option>
							<option value="ATF">French Southern Territories</option>
							<option value="GAB">Gabon</option>
							<option value="GMB">Gambia</option>
							<option value="GEO">Georgia</option>
							<option value="DEU">Germany</option>
							<option value="GHA">Ghana</option>
							<option value="GIB">Gibraltar</option>
							<option value="GRC">Greece</option>
							<option value="GRL">Greenland</option>
							<option value="GRD">Grenada</option>
							<option value="GLP">Guadeloupe</option>
							<option value="GUM">Guam</option>
							<option value="GTM">Guatemala</option>
							<option value="GIN">Guinea</option>
							<option value="GNB">Guinea-Bissau</option>
							<option value="GUY">Guyana</option>
							<option value="HTI">Haiti</option>
							<option value="HMD">Heard Island and McDonald Islands</option>
							<option value="VAT">Holy See (Vatican City State)</option>
							<option value="HND">Honduras</option>
							<option value="HKG">Hong Kong</option>
							<option value="HUN">Hungary</option>
							<option value="ISL">Iceland</option>
							<option value="IND">India</option>
							<option value="IDN">Indonesia</option>
							<option value="IRN">Iran</option>
							<option value="IRQ">Iraq</option>
							<option value="IRL">Ireland</option>
							<option value="ISR">Israel</option>
							<option value="ITA">Italy</option>
							<option value="JAM">Jamaica</option>
							<option value="JPN">Japan</option>
							<option value="JOR">Jordan</option>
							<option value="KAZ">Kazakhstan</option>
							<option value="KEN">Kenya</option>
							<option value="KIR">Kiribati</option>
							<option value="KWT">Kuwait</option>
							<option value="KGZ">Kyrgyzstan</option>
							<option value="LAO">Laos</option>
							<option value="LVA">Latvia</option>
							<option value="LBN">Lebanon</option>
							<option value="LSO">Lesotho</option>
							<option value="LBR">Liberia</option>
							<option value="LBY">Libya</option>
							<option value="LIE">Liechtenstein</option>
							<option value="LTU">Lithuania</option>
							<option value="LUX">Luxembourg</option>
							<option value="MAC">Macau</option>
							<option value="MKD">Macedonia</option>
							<option value="MDG">Madagascar</option>
							<option value="MWI">Malawi</option>
							<option value="MYS">Malaysia</option>
							<option value="MDV">Maldives</option>
							<option value="MLI">Mali</option>
							<option value="MLT">Malta</option>
							<option value="MHL">Marshall Islands</option>
							<option value="MTQ">Martinique</option>
							<option value="MRT">Mauritania</option>
							<option value="MUS">Mauritius</option>
							<option value="MYT">Mayotte</option>
							<option value="MEX">Mexico</option>
							<option value="FSM">Micronesia, Federated States of</option>
							<option value="MDA">Moldova</option>
							<option value="MCO">Monaco</option>
							<option value="MNG">Mongolia</option>
							<option value="MSR">Montserrat</option>
							<option value="MAR">Morocco</option>
							<option value="MOZ">Mozambique</option>
							<option value="MMR">Myanmar (Burma)</option>
							<option value="NAM">Namibia</option>
							<option value="NRU">Nauru</option>
							<option value="NPL">Nepal</option>
							<option value="NLD">Netherlands</option>
							<option value="ANT">Netherlands Antilles</option>
							<option value="NCL">New Caledonia</option>
							<option value="NZL">New Zealand</option>
							<option value="NIC">Nicaragua</option>
							<option value="NER">Niger</option>
							<option value="NGA">Nigeria</option>
							<option value="NIU">Niue</option>
							<option value="NFK">Norfolk Island</option>
							<option value="PRK">North Korea</option>
							<option value="MNP">Northern Mariana Islands</option>
							<option value="NOR">Norway</option>
							<option value="OMN">Oman</option>
							<option value="PAK">Pakistan</option>
							<option value="PLW">Palau</option>
							<option value="PAN">Panama</option>
							<option value="PNG">Papua New Guinea</option>
							<option value="PRY">Paraguay</option>
							<option value="PER">Peru</option>
							<option value="PHL">Philippines</option>
							<option value="PCN">Pitcairn Islands</option>
							<option value="POL">Poland</option>
							<option value="PRT">Portugal</option>
							<option value="QAT">Qatar</option>
							<option value="REU">Reunion</option>
							<option value="ROM">Romania</option>
							<option value="RUS">Russia</option>
							<option value="RWA">Rwanda</option>
							<option value="SHN">Saint Helena</option>
							<option value="KNA">Saint Kitts and Nevis</option>
							<option value="LCA">Saint Lucia</option>
							<option value="SPM">Saint Pierre and Miquelon</option>
							<option value="VCT">Saint Vincent and the Grenadines</option>
							<option value="WSM">Samoa</option>
							<option value="SMR">San Marino</option>
							<option value="STP">Sao Tome and Principe</option>
							<option value="SAU">Saudi Arabia</option>
							<option value="SEN">Senegal</option>
							<option value="SYC">Seychelles</option>
							<option value="SLE">Sierra Leone</option>
							<option value="SGP">Singapore</option>
							<option value="SVK">Slovakia</option>
							<option value="SVN">Slovenia</option>
							<option value="SLB">Solomon Islands</option>
							<option value="SOM">Somalia</option>
							<option value="ZAF">South Africa</option>
							<option value="SGS">South Georgia and the South Sandwich Islands</option>
							<option value="KOR">South Korea</option>
							<option value="ESP">Spain</option>
							<option value="LKA">Sri Lanka</option>
							<option value="SDN">Sudan</option>
							<option value="SUR">Suriname</option>
							<option value="SJM">Svalbard and Jan Mayen</option>
							<option value="SWZ">Swaziland</option>
							<option value="SWE">Sweden</option>
							<option value="CHE">Switzerland</option>
							<option value="SYR">Syria</option>
							<option value="TWN">Taiwan</option>
							<option value="TJK">Tajikistan</option>
							<option value="TZA">Tanzania</option>
							<option value="THA">Thailand</option>
							<option value="TGO">Togo</option>
							<option value="TKL">Tokelau</option>
							<option value="TON">Tonga</option>
							<option value="TTO">Trinidad and Tobago</option>
							<option value="TUN">Tunisia</option>
							<option value="TUR">Turkey</option>
							<option value="TKM">Turkmenistan</option>
							<option value="TCA">Turks and Caicos Islands</option>
							<option value="TUV">Tuvalu</option>
							<option value="UGA">Uganda</option>
							<option value="UKR">Ukraine</option>
							<option value="ARE">United Arab Emirates</option>
							<option value="GBR">United Kingdom</option>
							<option value="UMI">United States Minor Outlying Islands</option>
							<option value="URY">Uruguay</option>
							<option value="UZB">Uzbekistan</option>
							<option value="VUT">Vanuatu</option>
							<option value="VEN">Venezuela</option>
							<option value="VNM">Vietnam</option>
							<option value="VGB">Virgin Islands, British</option>
							<option value="VIR">Virgin Islands, U.S.</option>
							<option value="WLF">Wallis and Futuna</option>
							<option value="ESH">Western Sahara</option>
							<option value="YEM">Yemen</option>
							<option value="ZMB">Zambia</option>
							<option value="ZWE">Zimbabwe</option>
						</select>
					</div>
					<link rel="stylesheet" href="/assets_global/css/qas/proweb.css">
					<script type="text/javascript" src="/assets_global/scripts/qas/proweb.js"></script>
					<div id="ctrlHolder_workphone" class="ctrlHolder">
						<p class="errorFieldHide" id="workphone_err"></p>
						<label for="workphone" class="">Daytime Phone</label>
						<input name="workphone" id="workphone" value="" size="30" type="text" class="" tabindex="13"></div>
				</fieldset>
				<fieldset class="inlineLabels">
					<h3>Travel Agent Information</h3>
					<div id="ctrlHolder_agentName" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="agentName_err"></p>
						<label for="agentName" class="">Agent Name</label>
						<input name="agentName" id="agentName" value="" size="30" type="text" class="" tabindex="14"></div>
					<div id="ctrlHolder_agentEmail" class="ctrlHolder">
						<p class="errorFieldHide" id="agentEmail_err"></p>
						<label for="agentEmail" class="">Agent Email</label>
						<input name="agentEmail" id="agentEmail" value="" size="30" type="text" class="" tabindex="15"></div>
					<div id="ctrlHolder_agencyName" class="ctrlHolder">
						<p class="errorFieldHide" id="agencyName_err"></p>
						<label for="agencyName" class="">Agency Name</label>
						<input name="agencyName" id="agencyName" value="" size="30" type="text" class="" tabindex="16"></div>
					<div id="ctrlHolder_iata" class="ctrlHolder">
						<p class="errorFieldHide" id="iata_err"></p>
						<label for="iata" class="">IATA Number</label>
						<input name="iata" id="iata" value="" size="30" type="text" class="" tabindex="17"></div>
				</fieldset>
				<fieldset class="inlineLabels">
					<h3>Extras &amp; Comments</h3>
					<div id="ctrlHolder_prepost" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="prepost_err"></p>
						<p class="label ">I would like A&amp;K to arrange a pre or post-tour package</p>
						<label for="prepost-1" class="inlineLabel">
							<input name="prepost" id="prepost-1" type="radio" value="1" checked="checked" class="" tabindex="18">Yes</label>
						<label for="prepost-2" class="inlineLabel">
							<input name="prepost" id="prepost-2" type="radio" value="0" class="" tabindex="18">No</label>
					</div>
					<div id="ctrlHolder_insurance" class="ctrlHolder">
						<p class="errorFieldHide" id="insurance_err"></p>
						<p class="label ">
							I would like to discuss the purchase of
							<a href="/travel_store/travel_insurance/index.cfm" target="_blank">Travel Insurance</a>
						</p>
						<label for="insurance-1" class="inlineLabel">
							<input name="insurance" id="insurance-1" type="radio" value="1" checked="checked" class="" tabindex="19">Yes</label>
						<label for="insurance-2" class="inlineLabel">
							<input name="insurance" id="insurance-2" type="radio" value="0" class="" tabindex="19">No</label>
					</div>
					<div id="ctrlHolder_comments" class="ctrlHolder">
						<p class="errorFieldHide" id="comments_err"></p>
						<label for="comments" class="">Comments</label>
						<textarea name="comments" id="comments" rows="10" cols="60" class="textInput" tabindex="20"></textarea>
					</div>
				</fieldset>
				<fieldset class="inlineLabels">
					<h3>Subscription Information</h3>
					<div id="ctrlHolder_enews" class="ctrlHolder borderTop">
						<p class="errorFieldHide" id="enews_err"></p>
						<p class="label ">Abercrombie &amp; Kent Newsletter</p>
						<label for="enews-1" class="inlineLabel">
							<input name="enews" id="enews-1" value="1" checked="checked" type="checkbox" class="" tabindex="21">Subscribe</label>
						<p class="formHint">
							Includes special offers, promotions, new tours and exciting destinations weekly.
						</p>
					</div>
					<div id="ctrlHolder_e_villas" class="ctrlHolder">
						<p class="errorFieldHide" id="e_villas_err"></p>
						<p class="label ">A&amp;K Villas Newsletter</p>
						<label for="e_villas-1" class="inlineLabel">
							<input name="e_villas" id="e_villas-1" value="1" checked="checked" type="checkbox" class="" tabindex="22">Subscribe</label>
						<p class="formHint">Includes special offers and announcements monthly.</p>
					</div>
				</fieldset>
				<div class="buttonHolder">
					<input type="submit" name="submit_btn" id="submit_btn" value="Request Booking - Finish" class="uniFormButton" onclick="" tabindex="23"></div>
			</form>
		</div>
		<!-- TRIP NAVIGATION BOTTOM -->
	</div>
</div>