<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
	</li>
	<li>&nbsp;&nbsp;/&nbsp;&nbsp;Search</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div class="hl3">Search By</div>
		<dl class="section clear_list_style">
			<dt>Travel Destinations</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<li>
						<a href="/search.cfm?tdgf=4&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Africa trips">Africa (53)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=5&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Antarctica trips">Antarctica (3)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=21&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Arctic trips">Arctic (8)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=7&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Asia trips">Asia (31)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=6&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Australia &amp; New Zealand trips">Australia &amp; New Zealand (4)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=8&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Egypt &amp; Middle East trips">Egypt &amp; Middle East (31)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=9&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Europe trips">Europe (129)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=20&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for India trips">India (8)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=11&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Latin America &amp; Galápagos trips">Latin America &amp; Galápagos (33)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=12&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for North America trips">North America (5)</a>
					</li>
				</ul>
			</dd>
			<!-- TRAVEL INTERESTS -->
			<dt>Travel Interests</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=723&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Luxury Small Group Journeys trips">Luxury Small Group Journeys (45)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=724&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Connections Group Journeys trips">Connections Group Journeys (20)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=690&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Private Luxury Journeys trips">Private Luxury Journeys (97)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=700&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Private Jet Journeys trips">Private Jet Journeys (1)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=699&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for MPC Limited Edition Journeys trips">MPC Limited Edition Journeys (14)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=691&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Adventure Cruises trips">Adventure Cruises (14)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=719&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for African Safari trips">African Safari (32)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=692&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Canal &amp; River Cruising trips">Canal &amp; River Cruising (33)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=695&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Extreme Adventures trips">Extreme Adventures (19)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=696&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Family Travel trips">Family Travel (11)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=717&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Solo Travel trips">Solo Travel (20)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=698&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Luxury Train Travel trips">Luxury Train Travel (6)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=714&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Discovery Series trips">Discovery Series (2)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=716&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Signature Series trips">Signature Series (29)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=715&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Tailor Made trips">Tailor Made (24)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=720&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Tailor Made Elements trips">Tailor Made Elements (50)</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=705&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Trip Extensions trips">Trip Extensions (45)</a>
					</li>
				</ul>
			</dd>
			<!-- DEPARTURE DATES -->
			<dt>Departure Date</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 trips">2013</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=4&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 April trips">2013 April</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=5&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 May trips">2013 May</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=6&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 June trips">2013 June</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=7&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 July trips">2013 July</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=8&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 August trips">2013 August</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=9&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 September trips">2013 September</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=10&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 October trips">2013 October</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=11&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 November trips">2013 November</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2013&amp;drmf=12&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2013 December trips">2013 December</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 trips">2014</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=1&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 January trips">2014 January</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=3&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 March trips">2014 March</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=4&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 April trips">2014 April</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=5&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 May trips">2014 May</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=6&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 June trips">2014 June</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=7&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 July trips">2014 July</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=8&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 August trips">2014 August</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=9&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 September trips">2014 September</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=2014&amp;drmf=10&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for 2014 October trips">2014 October</a>
					</li>
				</ul>
			</dd>
			<!-- PRICE RANGE -->
			<dt>Price Range</dt>
			<dd>
				<ul class="attribute_list bullet_list">
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=5000&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Less than $5,000 trips">Less than $5,000</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=5000&amp;prhf=9999&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $5,000 - $9,999 trips">$5,000 - $9,999</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=10000&amp;prhf=14999&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $10,000 - $14,999 trips">$10,000 - $14,999</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=15000&amp;prhf=1000000&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $15,000 &amp; Above trips">$15,000 &amp; Above</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="end_cap"></div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<h1>Search</h1>
		<form id="keyword-search-form-embed" class="light-form" style="margin:14px 0;" action="/search.cfm" method="">
			<input name="kwf" id="kwf_embed" type="text" size="25" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			<input type="image" src="/images/search_button.gif"></form>
		<!-- PRIVATE TRAVEL BOX -->
		<div id="customize_trip">
			<span class="customize_trip_button">
				<a href="/discover/private-travel/request-private-travel/">submit request</a>
			</span>
			<h3 class="clear_margins">Travel Independently with A&amp;K</h3>
			<p class="clear_margins">
				A&amp;K offers a wealth of private travel options, all led by our expert local guides. Contact one of our travel specialists at 800 554 7016 or request your own custom private travel itinerary.
			</p>
		</div>
		<!-- SEARCH RESULTS -->
		<!-- SEARCH RESULTS -->
		<ul id="search-results" class="self_clear clear_list_style">
			<li class="self_clear">
				<a href="/travel/?tid=5628" title="View the overview for Taj Mahal &amp; the Treasures of India">
					<img src="/assets_global/media/images/thumbnails/orient_india_and_the_pacific/treasures_of_northern_india.jpg" alt="View details for Taj Mahal &amp; the Treasures of India" title="View details for Taj Mahal &amp; the Treasures of India"></a>
				<h3>
					<a href="/travel/?tid=5628" title="View the overview for Taj Mahal &amp; the Treasures of India">Taj Mahal &amp; the Treasures of India</a>
				</h3>
				<span class="search-details">
					From 
                      $8,295
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5628">
							<span>Compare</span>
						</span>
						15 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							This journey offers a delightful panorama of India's best. Visit the Taj Mahal, observe a holy ceremony on the banks of the Ganges and savor the hospitality of royal palaces turned luxury 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5628&amp;fuseaction=dsp_itinerary" title="View the itinerary for Taj Mahal &amp; the Treasures of India">Itinerary</a>
							|
							<a href="/travel/?tid=5628&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Taj Mahal &amp; the Treasures of India">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5623" title="View the overview for Images of Indochina &amp; Angkor Wat">
					<img src="/assets_global/media/images/thumbnails/orient_india_and_the_pacific/images_of_indochina.jpg" alt="View details for Images of Indochina &amp; Angkor Wat" title="View details for Images of Indochina &amp; Angkor Wat"></a>
				<h3>
					<a href="/travel/?tid=5623" title="View the overview for Images of Indochina &amp; Angkor Wat">Images of Indochina &amp; Angkor Wat</a>
				</h3>
				<span class="search-details">
					From 
                      $5,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5623">
							<span>Compare</span>
						</span>
						13 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							Experience the sights and sounds of Southeast Asia, from sharing a sunrise over Angkor Wat with only exotic birds to a private boat ride along Vietnam's eastern 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5623&amp;fuseaction=dsp_itinerary" title="View the itinerary for Images of Indochina &amp; Angkor Wat">Itinerary</a>
							|
							<a href="/travel/?tid=5623&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Images of Indochina &amp; Angkor Wat">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5598" title="View the overview for Peru: Machu Picchu and the Sacred Valley">
					<img src="/assets_global/media/images/thumbnails/peru/machu_picchu_beyong_1.jpg" alt="View details for Peru: Machu Picchu and the Sacred Valley" title="View details for Peru: Machu Picchu and the Sacred Valley"></a>
				<h3>
					<a href="/travel/?tid=5598" title="View the overview for Peru: Machu Picchu and the Sacred Valley">Peru: Machu Picchu and the Sacred Valley</a>
				</h3>
				<span class="search-details">
					From 
                      $5,595
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5598">
							<span>Compare</span>
						</span>
						9 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							Gain a deeper understanding of Peru's fascinating and rich pre-Columbian, Andean and Incan cultures on a journey that takes you from Lima to Cusco, the Sacred Valley and Machu 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5598&amp;fuseaction=dsp_itinerary" title="View the itinerary for Peru: Machu Picchu and the Sacred Valley">Itinerary</a>
							|
							<a href="/travel/?tid=5598&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Peru: Machu Picchu and the Sacred Valley">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5599" title="View the overview for Wonders of the Galápagos">
					<img src="/assets_global/media/images/thumbnails/latin_america_galapagos/wonders_of_the_galapagos_2.jpg" alt="View details for Wonders of the Galápagos" title="View details for Wonders of the Galápagos"></a>
				<h3>
					<a href="/travel/?tid=5599" title="View the overview for Wonders of the Galápagos">Wonders of the Galápagos</a>
				</h3>
				<span class="search-details">
					From 
                      $6,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5599">
							<span>Compare</span>
						</span>
						10 days |
                    
                    Limited to 24 guests
					</li>
					<li>
						<p>
							Come face to face with giant tortoises and sea lions, and stroll pristine beaches alongside blue-footed boobies on a journey to the Galápagos that includes a seven-night cruise on 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5599&amp;fuseaction=dsp_itinerary" title="View the itinerary for Wonders of the Galápagos">Itinerary</a>
							|
							<a href="/travel/?tid=5599&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Wonders of the Galápagos">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5584" title="View the overview for Kenya &amp; Tanzania Wildlife Safari">
					<img src="/assets_global/media/images/thumbnails/africa/kenya_wildlife_discovery.jpg" alt="View details for Kenya &amp; Tanzania Wildlife Safari" title="View details for Kenya &amp; Tanzania Wildlife Safari"></a>
				<h3>
					<a href="/travel/?tid=5584" title="View the overview for Kenya &amp; Tanzania Wildlife Safari">Kenya &amp; Tanzania Wildlife Safari</a>
				</h3>
				<span class="search-details">
					From 
                      $5,775
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5584">
							<span>Compare</span>
						</span>
						12 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							Observe East Africa's prolific wildlife on game drives through East Africa's most stunning parks and reserves, and learn the ways of the Maasai by visiting them in their 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5584&amp;fuseaction=dsp_itinerary" title="View the itinerary for Kenya &amp; Tanzania Wildlife Safari">Itinerary</a>
							|
							<a href="/travel/?tid=5584&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Kenya &amp; Tanzania Wildlife Safari">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5585" title="View the overview for Wings Over the Migration">
					<img src="/assets_global/media/images/thumbnails/africa/wings_over_the_migration.jpg" alt="View details for Wings Over the Migration" title="View details for Wings Over the Migration"></a>
				<h3>
					<a href="/travel/?tid=5585" title="View the overview for Wings Over the Migration">Wings Over the Migration</a>
				</h3>
				<span class="search-details">
					From 
                     $13,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5585">
							<span>Compare</span>
						</span>
						13 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							As the great migration unfolds, follow the route of this ancient, annual spectacle during a seasonally adjusted itinerary that takes you through the greatest game reserves of Kenya and 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5585&amp;fuseaction=dsp_itinerary" title="View the itinerary for Wings Over the Migration">Itinerary</a>
							|
							<a href="/travel/?tid=5585&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Wings Over the Migration">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear connections-leadin copy-block">
				<div>
					<img src="/assets/images/graphics/special/connections/search-intro.gif">
					<h3 class="clear_margins">The small-group journey, redefined.</h3>
					<span class="customize_trip_button base_font_size">
						<a href="/discover/connections-group-travel/">learn more</a>
					</span>
					<p class="clear_margins" style="margin-top:3px !important;">
						Discover the world in the company of unmatched local experts - and at an unbeatable value.
					</p>
				</div>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5702" title="View the overview for Croatia: Jewel of the Coast">
					<img src="/assets_global/media/images/thumbnails/croatia/Connections-Croatia.jpg" alt="View details for Croatia: Jewel of the Coast" title="View details for Croatia: Jewel of the Coast"></a>
				<h3>
					<a href="/travel/?tid=5702" title="View the overview for Croatia: Jewel of the Coast">Croatia: Jewel of the Coast</a>
				</h3>
				<span class="search-details">
					From 
                      $3,675
				</span>
				<span>
					<a class="icon connections amp" href="javascript:void(0);" onclick="getSeriesOverlay('55')" title="Connections">Connections</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5702">
							<span>Compare</span>
						</span>
						9 days |
                    
                    Limited to 28 guests
					</li>
					<li>
						<p>
							Uncover the treasures of the Balkans through one-on-one encounters with a local fisherman (along with a chance to sample some oysters), a survivor of the Balkans War and several local 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5702&amp;fuseaction=dsp_itinerary" title="View the itinerary for Croatia: Jewel of the Coast">Itinerary</a>
							|
							<a href="/travel/?tid=5702&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Croatia: Jewel of the Coast">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5536" title="View the overview for Arctic Cruise Adventure: Polar Bear Country">
					<img src="/assets_global/media/images/thumbnails/arctic/arctic-cruise3.jpg" alt="View details for Arctic Cruise Adventure: Polar Bear Country" title="View details for Arctic Cruise Adventure: Polar Bear Country"></a>
				<h3>
					<a href="/travel/?tid=5536" title="View the overview for Arctic Cruise Adventure: Polar Bear Country">Arctic Cruise Adventure: Polar Bear Country</a>
				</h3>
				<span class="search-details">
					From 
                     $11,995
				</span>
				<span>
					<a class="icon cruising amp" href="javascript:void(0);" onclick="getSeriesOverlay('12')" title="Adventure Cruising">Adventure Cruising</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5536">
							<span>Compare</span>
						</span>
						15 days |
                    
                    Limited to 199 guests
					</li>
					<li>
						<p>
							Travel on an exclusive chartered departure of the luxury all-balcony 'Le Boreal' to remote Arctic islands few others have seen, including the Svalbard Islands, Greenland and Iceland's West 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5536&amp;fuseaction=dsp_itinerary" title="View the itinerary for Arctic Cruise Adventure: Polar Bear Country">Itinerary</a>
							|
							<a href="/travel/?tid=5536&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Arctic Cruise Adventure: Polar Bear Country">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5812" title="View the overview for 'Clipper Odyssey': Wonders of Japan">
					<img src="/assets_global/media/images/thumbnails/japan/clipper-odyssey-japan.jpg" alt="View details for 'Clipper Odyssey': Wonders of Japan" title="View details for 'Clipper Odyssey': Wonders of Japan"></a>
				<h3>
					<a href="/travel/?tid=5812" title="View the overview for 'Clipper Odyssey': Wonders of Japan">'Clipper Odyssey': Wonders of Japan</a>
				</h3>
				<span class="search-details">
					From 
                      $9,995
				</span>
				<span>
					<a class="icon cruising amp" href="javascript:void(0);" onclick="getSeriesOverlay('12')" title="Adventure Cruising">Adventure Cruising</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5812">
							<span>Compare</span>
						</span>
						15 days |
                    
                    Limited to 118 guests
					</li>
					<li>
						<p>
							Join A&amp;K founder Geoffrey Kent on a 12-night odyssey to Japan on board 'Clipper Odyssey,' stopping at little-known sites and exploring on shore with A&amp;K local experts. Explore Kyoto, 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5812&amp;fuseaction=dsp_itinerary" title="View the itinerary for 'Clipper Odyssey': Wonders of Japan">Itinerary</a>
							|
							<a href="/travel/?tid=5812&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for 'Clipper Odyssey': Wonders of Japan">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5696" title="View the overview for Southern Africa by River and Rail">
					<img src="/assets_global/media/images/thumbnails/mpc_invitationals/southern-africa-by-river-and-rail-2013.jpg" alt="View details for Southern Africa by River and Rail" title="View details for Southern Africa by River and Rail"></a>
				<h3>
					<a href="/travel/?tid=5696" title="View the overview for Southern Africa by River and Rail">Southern Africa by River and Rail</a>
				</h3>
				<span class="search-details">
					From 
                     $11,995
				</span>
				<span>
					<a class="icon mpc amp" href="javascript:void(0);" onclick="getSeriesOverlay('8')" title="Marco Polo Club Invitationals">Marco Polo Club Invitationals</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5696">
							<span>Compare</span>
						</span>
						11 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							This is a Marco Polo Club Invitational Journey. The charms of Southern Africa are
many: an incredible array of wildlife,
diverse ecosystems, beautiful
waterfalls and cultural 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5696&amp;fuseaction=dsp_itinerary" title="View the itinerary for Southern Africa by River and Rail">Itinerary</a>
							|
							<a href="/travel/?tid=5696&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Southern Africa by River and Rail">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5710" title="View the overview for North America: Canadian Rockies">
					<img src="/assets_global/media/images/thumbnails/canada/Connections-NA-CanadianRockies.jpg" alt="View details for North America: Canadian Rockies" title="View details for North America: Canadian Rockies"></a>
				<h3>
					<a href="/travel/?tid=5710" title="View the overview for North America: Canadian Rockies">North America: Canadian Rockies</a>
				</h3>
				<span class="search-details">
					From 
                      $4,390
				</span>
				<span>
					<a class="icon connections amp" href="javascript:void(0);" onclick="getSeriesOverlay('55')" title="Connections">Connections</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5710">
							<span>Compare</span>
						</span>
						8 days |
                    
                    Limited to 28 guests
					</li>
					<li>
						<p>
							Hike Emerald Lake with a naturalist guide, enjoy a barbecue lunch near Sunwapta Falls and learn the art of the perfect landscape photo when a professional photographer offers tips at Moraine 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5710&amp;fuseaction=dsp_itinerary" title="View the itinerary for North America: Canadian Rockies">Itinerary</a>
							|
							<a href="/travel/?tid=5710&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for North America: Canadian Rockies">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5823" title="View the overview for Three Rivers Aboard 'Amadeus Brilliant'">
					<img src="/assets_global/media/images/thumbnails/canal_and_river_cruising_in_europe/3-rivers-trip.jpg" alt="View details for Three Rivers Aboard 'Amadeus Brilliant'" title="View details for Three Rivers Aboard 'Amadeus Brilliant'"></a>
				<h3>
					<a href="/travel/?tid=5823" title="View the overview for Three Rivers Aboard 'Amadeus Brilliant'">Three Rivers Aboard 'Amadeus Brilliant'</a>
				</h3>
				<span class="search-details">
					From 
                      $3,995
				</span>
				<span>
					<a class="icon connections amp" href="javascript:void(0);" onclick="getSeriesOverlay('55')" title="Connections">Connections</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5823">
							<span>Compare</span>
						</span>
						10 days |
                    
                    Limited to 24 guests
					</li>
					<li>
						<p>
							Travel three of Europe's great rivers - the Rhine, the Main and the Danube - on one extraordinary journey taking you from Amsterdam in the Netherlands through Holland and quaint, medieval 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5823&amp;fuseaction=dsp_itinerary" title="View the itinerary for Three Rivers Aboard 'Amadeus Brilliant'">Itinerary</a>
							|
							<a href="/travel/?tid=5823&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Three Rivers Aboard 'Amadeus Brilliant'">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5813" title="View the overview for Africa: Across a Continent by Private Jet">
					<img src="/assets_global/media/images/thumbnails/africa/privatejet.jpg" alt="View details for Africa: Across a Continent by Private Jet" title="View details for Africa: Across a Continent by Private Jet"></a>
				<h3>
					<a href="/travel/?tid=5813" title="View the overview for Africa: Across a Continent by Private Jet">
						Africa: Across a Continent by Private Jet 
            (2014)
					</a>
				</h3>
				<span class="search-details">
					From 
                     $79,995
				</span>
				<span>
					<a class="icon default amp" href="javascript:void(0);" onclick="getSeriesOverlay('30')" title="Private Jet Journeys">Private Jet Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5813">
							<span>Compare</span>
						</span>
						19 days |
                    
                    Limited to 40 guests
					</li>
					<li>
						<p>
							Immerse yourself in the wonders of a continent on an inspiring journey by private jet. <strong>Africa: Across a Continent by Private Jet</strong>
							takes you to seven countries in 19 days, 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5813&amp;fuseaction=dsp_itinerary" title="View the itinerary for Africa: Across a Continent by Private Jet">Itinerary</a>
							|
							<a href="/travel/?tid=5813&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Africa: Across a Continent by Private Jet">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5717" title="View the overview for Eastern Europe: Budapest, Vienna &amp; Prague">
					<img src="/assets_global/media/images/thumbnails/czech_republic/Connections-Prague.jpg" alt="View details for Eastern Europe: Budapest, Vienna &amp; Prague" title="View details for Eastern Europe: Budapest, Vienna &amp; Prague"></a>
				<h3>
					<a href="/travel/?tid=5717" title="View the overview for Eastern Europe: Budapest, Vienna &amp; Prague">Eastern Europe: Budapest, Vienna &amp; Prague</a>
				</h3>
				<span class="search-details">
					From 
                      $4,335
				</span>
				<span>
					<a class="icon connections amp" href="javascript:void(0);" onclick="getSeriesOverlay('55')" title="Connections">Connections</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5717">
							<span>Compare</span>
						</span>
						10 days |
                    Limited to 28 guests
					</li>
					<li>
						<p>
							Experience three of Europe's great cities through activities that bring out each one's unique character. Cruise the Danube at dusk, brush up on your waltz in Vienna and tour the Strahov 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5717&amp;fuseaction=dsp_itinerary" title="View the itinerary for Eastern Europe: Budapest, Vienna &amp; Prague">Itinerary</a>
							|
							<a href="/travel/?tid=5717&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Eastern Europe: Budapest, Vienna &amp; Prague">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5630" title="View the overview for Bhutan &amp; Nepal: Heart of the Himalaya">
					<img src="/assets_global/media/images/thumbnails/bhutan/5630.jpg" alt="View details for Bhutan &amp; Nepal: Heart of the Himalaya" title="View details for Bhutan &amp; Nepal: Heart of the Himalaya"></a>
				<h3>
					<a href="/travel/?tid=5630" title="View the overview for Bhutan &amp; Nepal: Heart of the Himalaya">Bhutan &amp; Nepal: Heart of the Himalaya</a>
				</h3>
				<span class="search-details">
					From 
                      $7,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5630">
							<span>Compare</span>
						</span>
						13 days |
                    
                    Limited to 16 guests
					</li>
					<li>
						<p>
							Unveil the mysteries of two age-old Himalayan nations, trekking to picturesque Tiger's Nest monastery, observing Buddhist monks debating and sharing tea with a family in their 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5630&amp;fuseaction=dsp_itinerary" title="View the itinerary for Bhutan &amp; Nepal: Heart of the Himalaya">Itinerary</a>
							|
							<a href="/travel/?tid=5630&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Bhutan &amp; Nepal: Heart of the Himalaya">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5606" title="View the overview for China: Yangtze Passage">
					<img src="/assets_global/media/images/thumbnails/orient_india_and_the_pacific/signature_china.jpg" alt="View details for China: Yangtze Passage" title="View details for China: Yangtze Passage"></a>
				<span class="specialoffer highlight base_font_size"> <strong>Solo Savings Available</strong>
				</span>
				<h3>
					<a href="/travel/?tid=5606" title="View the overview for China: Yangtze Passage">China: Yangtze Passage</a>
				</h3>
				<span class="search-details">
					From 
                      $7,695
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5606">
							<span>Compare</span>
						</span>
						15 days |
                    
                    Limited to 24 guests
					</li>
					<li>
						<p>
							Experience the glory of the Yangtze River on a four-night cruise that includes private shore excursions. Visit the best-preserved section of the Great Wall and meet a luminary of Shanghai's 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5606&amp;fuseaction=dsp_itinerary" title="View the itinerary for China: Yangtze Passage">Itinerary</a>
							|
							<a href="/travel/?tid=5606&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for China: Yangtze Passage">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5725" title="View the overview for Antarctica, South Georgia &amp; the Falkland Islands">
					<img src="/assets_global/media/images/thumbnails/antarctica/antarctica_south_georgia_and_the_falkland_islands.jpg" alt="View details for Antarctica, South Georgia &amp; the Falkland Islands" title="View details for Antarctica, South Georgia &amp; the Falkland Islands"></a>
				<h3>
					<a href="/travel/?tid=5725" title="View the overview for Antarctica, South Georgia &amp; the Falkland Islands">
						Antarctica, South Georgia &amp; the Falkland Islands 
            (2013-14)
					</a>
				</h3>
				<span class="search-details">
					From 
                     $17,995
				</span>
				<span>
					<a class="icon cruising amp" href="javascript:void(0);" onclick="getSeriesOverlay('12')" title="Adventure Cruising">Adventure Cruising</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5725">
							<span>Compare</span>
						</span>
						17 days |
                    
                    Limited to 199 guests
					</li>
					<li>
						<p>
							Experience a panorama of the Southern Ocean's best on this adventure cruise, stopping at wildlife-rich South Georgia, the unspoiled Falklands and Antarctica, the White 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5725&amp;fuseaction=dsp_itinerary" title="View the itinerary for Antarctica, South Georgia &amp; the Falkland Islands">Itinerary</a>
							|
							<a href="/travel/?tid=5725&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Antarctica, South Georgia &amp; the Falkland Islands">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5726" title="View the overview for Egypt: A Moment in History">
					<img src="/assets_global/media/images/thumbnails/egypt/egypt_2.jpg" alt="View details for Egypt: A Moment in History" title="View details for Egypt: A Moment in History"></a>
				<h3>
					<a href="/travel/?tid=5726" title="View the overview for Egypt: A Moment in History">Egypt: A Moment in History</a>
				</h3>
				<span class="search-details">
					From 
                      $1,930
				</span>
				<span>
					<a class="icon limited-time amp" href="javascript:void(0);" onclick="getSeriesOverlay('50')" title="Limited Engagement">Limited Engagement</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5726">
							<span>Compare</span>
						</span>
						8 days |
                    
                    Limited to 24 guests
					</li>
					<li>
						<p>
							On this ideal introduction to the wonders of Egypt, join local guides to explore the wonders of Cairo and nearby Giza, including the Pyramids, the Great Sphinx and the treasures of 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5726&amp;fuseaction=dsp_itinerary" title="View the itinerary for Egypt: A Moment in History">Itinerary</a>
							|
							<a href="/travel/?tid=5726&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Egypt: A Moment in History">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5603" title="View the overview for Family Costa Rica">
					<img src="/assets_global/media/images/thumbnails/family_holidays/costa_rica_family_holiday.jpg" alt="View details for Family Costa Rica" title="View details for Family Costa Rica"></a>
				<h3>
					<a href="/travel/?tid=5603" title="View the overview for Family Costa Rica">Family Costa Rica</a>
				</h3>
				<span class="search-details">
					From 
                      $2,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5603">
							<span>Compare</span>
						</span>
						7 days |
                    
                    Limited to 22 guests
					</li>
					<li>
						<p>
							Speed between lush trees by zipline, float down the rivers of Tortuguero National Park in search of hidden fauna and spend two nights at a hotel in the shadow of the booming Arenal 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5603&amp;fuseaction=dsp_itinerary" title="View the itinerary for Family Costa Rica">Itinerary</a>
							|
							<a href="/travel/?tid=5603&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Family Costa Rica">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
			<li class="self_clear">
				<a href="/travel/?tid=5624" title="View the overview for Myanmar's Burmese Heritage">
					<img src="/assets_global/media/images/thumbnails/myanmar/5624.jpg" alt="View details for Myanmar's Burmese Heritage" title="View details for Myanmar's Burmese Heritage"></a>
				<h3>
					<a href="/travel/?tid=5624" title="View the overview for Myanmar's Burmese Heritage">Myanmar's Burmese Heritage</a>
				</h3>
				<span class="search-details">
					From 
                      $6,995
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5624">
							<span>Compare</span>
						</span>
						11 days |
                    
                    Limited to 18 guests
					</li>
					<li>
						<p>
							Discover a land long hidden to Western eyes with a three-night cruise on the luxurious 'Road To Mandalay,' along with a stunning balloon flight over the temple-studded plains of 
                ...
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travel/?tid=5624&amp;fuseaction=dsp_itinerary" title="View the itinerary for Myanmar's Burmese Heritage">Itinerary</a>
							|
							<a href="/travel/?tid=5624&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Myanmar's Burmese Heritage">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
			</li>
		</ul>
		<div class="paging self_clear">
			<ul class="clear_list_style clear_margins">
				<li>
					<strong>1</strong>
				</li>
			</ul>
			<span>Go to page:</span>
			Showing 1 - 20 of 20
		</div>
	</div>
</div>

<% content_for :footer do %>
<script>
$("#search-results li.search-description span.float_right input.select_trip").change(function(){
	console.log(2);
	if($(this).is(":checked")){
		console.log(1);
		$(this).parent().find("span").html("<a href='/compare'>Compare</a>");
	}else{
		$(this).parent().find("span").html("Compare");
	}
});
</script>
<% end %>		