<div class="row">
<h3>后台管理 > 创建新Hotel <div class="pull-right"><%= link_to '返回列表', admin_hotels_path %></div></h3>
<hr>

<form accept-charset="UTF-8" action="/admin/hotels/<%= @hotel.id %>/upload_photo" class="form-horizontal" id="new_page" enctype="multipart/form-data" method="post">
	<div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="_method" type="hidden" value="post" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </div>
  <div class="control-group">
    <label class="control-label">Photo</label>
    <div class="controls">
			<input id="photo_pic" name="photo[pic]" type="file">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Desc</label>
    <div class="controls">
			<input id="photo_pic" name="photo[desc]" type="text">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input id="page_submit" name="commit" type="submit" value="Create Photo">
    </div>
  </div>
</form>


</div>


