    <ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
      <li>
        <img src="" width="90" height="1"></li>
      <li>
        <a href="/">Home</a>
        &nbsp;&nbsp;/&nbsp;&nbsp;
      </li>
      <li>
        <a href="/travel-destinations/">Travel Destinations</a>
        &nbsp;&nbsp;/&nbsp;&nbsp;
      </li>
      <li>Africa</li>
    </ul>
    <div class="self_clear">
      <div id="secondary_content" class="hide_from_print">
        <div id="cs_control_3131" class="">
          <div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
            <a name="custom12234" id="custom12234"></a>
            <a name="CP_JUMP_12234" id="CP_JUMP_12234"></a>
            <div id="cs_control_12234" class="cs_control CS_Element_Custom">
              <div class="hl3">Navigate By</div>
              <!-- OHSU Nav -->   
              <ul class="section cspot_nav">
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/benefits.cfm">Member Benefits</a>
                </li>
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/invitation_only_travel.cfm">Invitational Journeys</a>
                </li>
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/mpc_tour_directors.cfm">Invitational Tour Directors</a>
                </li>
                <li class="icon expando_hide">
                  <a href="/marcopoloclub/photo-contest/">Photo Contest</a>
                </li>
                <li class="navigation_active icon bullet_arrow">
                  <a href="/marcopoloclub/">Membership Application</a>
                </li>
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/history_marco_polo.cfm">History of Marco Polo</a>
                </li>
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/membership_terms_conditions.cfm">Membership Terms &amp; Conditions</a>
                </li>
                <li class="icon bullet_arrow">
                  <a href="/marcopoloclub/welcome.cfm">New Member Login</a>
                </li>
              </ul>
            </div>
            <a name="customcf3475" id="customcf3475"></a>
            <a name="CP_JUMP_3475" id="CP_JUMP_3475"></a>
            <div id="cs_control_3475" class="cs_control CS_Element_CustomCF">
              <div id="CS_CCF_2421_3475">
                <div class="hl3">Member Login</div>
                <!-- <form id="mpc_login" name="mpc_login" action="/loader.cfm" method="post">    
                -->
                <form class="section" action="https://www.abercrombiekent.com/services/?fuseaction=login" method="post">
                  <input type="hidden" name="url" value="/commonspot/security/login-validate.cfm">    
                  <input type="hidden" name="hidePendingActions" value="0">   
                  <input type="hidden" name="hideAutoLogin" value="1">    
                  <input type="hidden" name="hideChangePassword" value="1">   
                  <input type="hidden" name="WindowType" value="">    
                  <input type="hidden" name="bNewWindow" value="0">   
                  <input type="hidden" name="SpellCheckOn" value="0">   
                  <input type="hidden" name="remember_me" value="0">    
                  <input type="hidden" name="targetURL" value="/marcopoloclub/membership_application.cfm?">   
                  <dl class="clear_list_style base_font_size">
                    <dt style="font-weight:400">
                      <label for="username">Username:</label>
                    </dt>
                    <dd>
                      <input id="mpc_username" name="UserID" type="text" size="30"></dd>
                    <dt style="font-weight:400">
                      <label for="password">Password:</label>
                    </dt>
                    <dd>
                      <input id="mpc_password" name="password" type="password" size="30"></dd>
                  </dl>
                  <input type="submit" value="Login">   
                  <br>    
                  <br></form>
              </div>
            </div>
            <a name="custom14737" id="custom14737"></a>
            <a name="CP_JUMP_14737" id="CP_JUMP_14737"></a>
            <div id="cs_control_14737" class="cs_control CS_Element_Custom">
              <div class="hl3">Related Brochures</div>
              <div class="section">
                <div class="related_brochure self_clear">
                  <p>
                    <img src="/images/travel-brochure-mpc-may-dec-2013.jpg" width="93" height="120" alt="Marco Polo Invitational Journeys May-December 2013" title="Marco Polo Invitational Journeys May-December 2013 brochure">Marco Polo Invitational Journeys May-December 2013</p>
                  <ul>
                    <li>
                      <a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=234" title="View Marco Polo Invitational Journeys May-December 2013" rel="Marco Polo Invitational Journeys May-December 2013 [234]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
                    </li>
                    <li>
                      <a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=234" onclick="recordIt('Brochure Download PDF','','')">Download</a>
                    </li>
                    <li>
                      <a class="icon request_brochure" href="/travel_brochures/?brid=234">Request</a>
                    </li>
                  </ul>
                </div>
                <p>
                  <a class="icon swirl_arrow" href="/travel_brochures/">View All Brochures</a>
                </p>
              </div>
            </div>
            <a name="customcf8569" id="customcf8569"></a>
            <a name="CP_JUMP_8569" id="CP_JUMP_8569"></a>
            <div id="cs_control_8569" class="cs_control CS_Element_CustomCF">
              <div id="CS_CCF_2421_8569">
                <div class="end_cap"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="join_mpc" style="">
          <a class="self_clear" href="/marcopoloclub/membership_application.cfm">
            <img class="chicken" src="/images/mpc_chicken.gif" width="39" height="38">Become a member</a>
        </div>
        <div id="dMainFBContest"></div>
      </div>
      <div id="primary_content" class="align_edges">
        <div id="cs_control_1329" class="">
          <div class="CS_Element_Schedule" title="" id="CS_Element_content">
            <a name="customcf2689" id="customcf2689"></a>
            <a name="CP_JUMP_2689" id="CP_JUMP_2689"></a>
            <div id="cs_control_2689" class="cs_control CS_Element_CustomCF">
              <div id="CS_CCF_2421_2689">
                <h1>Membership Application</h1>
                <p>
                  Enrollment is $300 per member and membership is valid for three years.
                </p>
                <p>
                  <a href="/marcopoloclub/membership_terms_conditions.cfm" class="icon swirl_arrow">View Membership Terms &amp; Conditions</a>
                </p>
                <div style="width:99%">
                  <div class="self-clear">
                    <p style="float:right; margin:0;">Step 1 of 3</p>
                    <p id="requiredText">
                      Required <em>*</em>
                    </p>
                  </div>


                  <form accept-charset="UTF-8" action="/signup" class="uniForm" id="user_new" method="post">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                    <fieldset class="inlineLabels">
                      <h3>登录信息</h3>
                      <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          邮箱：
                        </label>
                        <input name="user[email]" id="email" value="" size="30" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          登录用户名：
                        </label>
                        <input name="user[login]" id="login" value="" size="30" maxlength="250" type="text" class="required email" ></div>
                        
                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          密码：
                        </label>
                        <input id="user_password" name="user[password]" size="30" type="password" class="required email"></div>
                        
                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          确认密码：
                        </label>
                        <input name="user[password_confirmation]" id="password_confirmation" value="" size="30" maxlength="250" type="password" class="required email" ></div>
                        
                    </fieldset>

                    <fieldset class="inlineLabels">
                      <h3>会员信息</h3>
                      <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          真实姓名：
                        </label>
                        <input name="user[name]" id="name" value="" size="30" maxlength="250" type="text" class="required email" ></div>
                        
                        <div id="ctrlHolder_title" class="ctrlHolder">
                        <p class="errorFieldHide" id="title_err">You must select a title</p>
                        <label for="title" class="required">
                          <em>*</em>
                          性别
                        </label>
                        <select name="title" id="title" class="required" tabindex="5" style="">
                          <option value="先生">先生</option>
                          <option value="女士">女士</option>
                        </select>
                        </div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          地址：
                        </label>
                        <input name="user[address]" id="address" value="" size="50" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          城市：
                        </label>
                        <input name="user[city]" id="city" value="" size="10" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          省份：
                        </label>
                        <input name="user[region]" id="region" value="" size="10" maxlength="250" type="text" class="required email" ></div>
                        
                        <div id="ctrlHolder_country" class="ctrlHolder">
                        <p class="errorFieldHide" id="country_err"></p>
                        <label for="country">国家</label>
                        <select name="user[country]" id="country" tabindex="14" style="">                          
                          <option value="CHN" selected="selected">中国</option>
                        </select>
                        </div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          邮编：
                        </label>
                        <input name="user[postal_code]" id="postal_code" value="" size="30" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          固定电话：
                        </label>
                        <input name="user[home_phone]" id="home_phone" value="" size="30" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          手机：
                        </label>
                        <input name="user[cellphone]" id="cellphone" value="" size="30" maxlength="250" type="text" class="required email" ></div>
                    </fieldset>

                    <fieldset class="inlineLabels">
                      <h3>代理信息</h3>
                      <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          代理公司：
                        </label>
                        <input name="user[travel_agent]" id="travel_agent" value="" size="30" maxlength="250" type="text" class="required email" ></div>

                        <div id="ctrlHolder_email" class="ctrlHolder borderTop">
                        <label for="email" class="required">
                          <em>*</em>
                          代理号：
                        </label>
                        <input name="user[travel_agent_code]" id="travel_agent_code" value="" size="30" maxlength="250" type="text" class="required email" ></div>

                    </fieldset>
                    <div class="buttonHolder">
                      <input type="submit" name="submit_btn" id="submit_btn" value="Continue" class="uniFormButton" onclick="" tabindex="23"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<% content_for :footer do %>

  <script type="text/javascript" src="/javascripts/happy.js"></script>
  <script type="text/javascript" src="/javascripts/happy.methods.js"></script>
  <script>
    $(document).ready(function () {
      $('#user_new').isHappy({
        fields: {
          // reference the field you're talking about, probably by `id`
          // but you could certainly do $('[name=name]') as well.
          '#email': {
            required: true,
            message: 'Please input RIGHT Email address.',
            test: happy.email // this can be *any* function that returns true or false
          }
        }
      });
    }); 
  </script>

<% end %>